 <div class="vh100">
  <%= render"shared/terminalnav" %>
  <div class="flex">
    <%= render "shared/sidebarbs" %>
    <div class="flex-column content-container">
      <%= render "pagehead" %>
      <%= render "pagetabs" %>
      <div data-bs-spy="scroll">
        <%= render "camsaudiocards", user: @user, audios: @user.audios %>
      </div>
    </div>
  </div>
</div>
