
<div class="contactus1_tab">

  <div class="contact_details_container">

    <div class="contact_details_contents">

      <div class="contactustext">

        <div class="contactheading">
          Contact Us
        </div>

        <div class="contactpara">
          Get in touch with our team to learn more about Viddex
        </div>

      </div>

      <%= form_for @contact, url: '/contactus', method: :post, html: { id: 'contactformId' } do |f| %>

        <div class="contactnamesdiv">
          <div class="form-group">
            <%= f.label :first_name, "FIRST NAME: *", class:"contactlabel" %>
            <%= f.text_field :first_name, class: "form-control contactfill_in contactnames", placeholder: "First Name" %>
          </div>

          <div class="form-group">
            <%= f.label :last_name, "LAST NAME: *", class:"contactlabel" %>
            <%= f.text_field :last_name, class: "form-control contactfill_in contactnames", placeholder: "Last Name" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :email, "EMAIL: *", class:"contactlabel" %>
          <%= f.email_field :email, class: "form-control contactfill_in contactnot_names", placeholder: "Email" %>
        </div>
        <div class="form-group">
          <%= f.label :notes, "NOTES: *", class:"contactlabel" %>
          <%= f.text_area :notes, class: "form-control contactfill_in contactnot_names", placeholder: "Notes" %>
        </div>
        <div class="form-group">
          <%= f.label :country, "COUNTRY: *", class:"contactlabel contactnot_names" %>
          <%= f.select :country, options_for_select(["Country", "Afghanistan", "Albania", "Algeria", "Andorra",
          "Angola", "Antigua and Barbuda", "Argentina", "Armenia", "Australia", "Austria", "Azerbaijan",
          "Bahamas", "Bahrain", "Bangladesh", "Barbados", "Belarus", "Belgium", "Belize", "Benin",
          "Bhutan", "Bolivia", "Bosnia and Herzegovina", "Botswana", "Brazil", "Brunei", "Bulgaria",
          "Burkina Faso", "Burundi", "Cabo Verde", "Cambodia", "Cameroon", "Canada", "Central African Republic",
          "Chad", "Chile", "China", "Colombia", "Comoros", "Congo", "Costa Rica", "Croatia", "Cuba", "Cyprus",
          "Czech Republic", "Democratic Republic of the Congo", "Denmark", "Djibouti", "Dominica",
          "Dominican Republic", "Ecuador", "Egypt", "El Salvador", "Equatorial Guinea", "Eritrea",
          "Estonia", "Eswatini", "Ethiopia", "Fiji", "Finland", "France", "Gabon", "Gambia", "Georgia", "Germany",
          "Ghana", "Greece", "Grenada", "Guatemala", "Guinea", "Guinea-Bissau", "Guyana", "Haiti", "Honduras",
          "Hungary", "Iceland", "India", "Indonesia", "Iran", "Iraq", "Ireland", "Israel", "Italy", "Ivory Coast",
          "Jamaica", "Japan", "Jordan", "Kazakhstan", "Kenya", "Kiribati", "Kosovo", "Kuwait", "Kyrgyzstan",
          "Laos", "Latvia", "Lebanon", "Lesotho", "Liberia", "Libya", "Liechtenstein", "Lithuania", "Luxembourg",
          "Madagascar", "Malawi", "Malaysia", "Maldives", "Mali", "Malta", "Marshall Islands", "Mauritania",
          "Mauritius", "Mexico", "Micronesia", "Moldova", "Monaco", "Mongolia", "Montenegro", "Morocco",
          "Mozambique", "Myanmar", "Namibia", "Nauru", "Nepal", "Netherlands", "New Zealand", "Nicaragua",
          "Niger", "Nigeria", "North Korea", "North Macedonia", "Norway", "Oman", "Pakistan", "Palau",
          "Panama", "Papua New Guinea", "Paraguay", "Peru", "Philippines", "Poland", "Portugal", "Qatar",
          "Romania", "Russia", "Rwanda", "Saint Kitts and Nevis", "Saint Lucia", "Saint Vincent and the Grenadines",
          "Samoa", "San Marino", "Sao Tome and Principe", "Saudi Arabia", "Senegal", "Serbia", "Seychelles",
          "Sierra Leone", "Singapore", "Slovakia", "Slovenia", "Solomon Islands", "Somalia", "South Africa",
          "South Korea", "South Sudan", "Spain", "Sri Lanka", "Sudan", "Suriname", "Sweden", "Switzerland",
          "Syria", "Taiwan", "Tajikistan", "Tanzania", "Thailand", "Timor-Leste", "Togo", "Tonga", "Trinidad and Tobago",
          "Tunisia", "Turkey", "Turkmenistan", "Tuvalu", "Uganda", "Ukraine", "United Arab Emirates", "United Kingdom",
          "United States", "Uruguay", "Uzbekistan", "Vanuatu", "Vatican City", "Venezuela", "Vietnam", "Yemen", "Zambia",
          "Zimbabwe"]), class: "form-control contactfill_in contactcountry" %>
        </div>
        <div class="form-group">
          <%= f.label :job_title, "JOB TITLE:", class:"contactlabel" %>
          <%= f.text_field :job_title, class: "form-control contactfill_in contactnot_names", placeholder: "Job Title" %>
        </div>
        <div class="form-group contactbuttondiv">
          <%= submit_tag "Submit", class: "btn btn-primary contactbutton", id: "submit-button" %>
        </div>
      <% end %>

    </div>

  </div>

</div>

<script>

</script>
