<div class="nested-form-wrapper" data-new-record="<%= f.object.new_record? %>">
  <%= f.input :title %>
  <%= f.input :video_script %>
  <%= f.input :message %>
  <%= f.input :image_url %>
  <button type="button" data-action="nested-form#remove">Remove Video</button>
  <%= f.hidden_field :_destroy %>
</div>
