<div class="vh100">
  <%= render"shared/terminalnav" %>
  <div class="flex">
    <%= render "shared/sidebarbs" %>
    <div class="flex-column content-container">
      <div class="flex space-between">
        <%= render "templateshead" %>
      </div>
      <%= render "templates/pagetabs" %>
      <%= render "templates/index_container" %>

    </div>
  </div>
</div>
