<div class="vh100">
  <%= render"shared/terminalnav" %>
  <div class="flex">
    <%= render "shared/sidebarbs" %>
    <div class="flex-column content-container">
      <div class="flex space-between">
        <%= render "templateshead" %>
      </div>
      <%= render "templates/pagetabs" %>

      <% @templates.each do |template| %>
      <%= template.title %>
      <% end %>
    </div>
  </div>
</div>
