 <p><%= page_entries_info @backgrounds, entry_name: "image" %></p>

 <div class="flex space-between">
  <% @user.backgrounds.reverse.each do |background| %>
      <div class="card" sstyle="width: 18rem; margin:5px">
        <% if background.photo.attached? %>
          <img style="width:300px;max-height:200px"src="<%= background.service_url %>" alt="image unable to load">
          <% else %>
          <p>Image not attached</p>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= background.title.capitalize %></h5>
          <% mbsize = background.photo.byte_size.to_f / 1048576 %>
          <p class="card-text"><%=mbsize.round(2)%> MB</p>
          <div class="flex space-between">
            <%= link_to "Edit", edit_user_background_path(@user, background), {class: "btn btn-primary"}  %>
            <a data-turbo-method="delete" class="btn btn-primary"data-turbo-confirm="WARNING - Projects containing this image will become unusable. Are you sure you want to delete?" href="/terminal/<%= @user.public_uid %>/images/<%= background.public_uid%>"> Delete</a>
          </div>
        </div>
      </div>
  <% end %>
</div>
<%= paginate @backgrounds %>







<%# </div> %>
