      <div class="flex">
        <div class="container pt-4 col-4">
          <%= simple_form_for [@user, @background] do |f| %>
            <%= f.input :title %>

            <div class="accordion" id="accordionPanelsStayOpenExample">
              <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                  Text Options
                </button>
              </h2>
              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                  <div class="flex"style="justify-content:space-between">
                    <%= f.input :x_axis %>
                    <%= f.input :y_axis %>
                    <%= f.input :width %>
                    <%= f.input :angle %>
                  </div>
                </div>
              </div>
            </div>

            <div class="flex">
              <%= f.submit 'Save and preview', class: 'btn btn-outline-dark', style:"border-radius:5px"%>
            <% end %>
              <%= link_to user_backgrounds_path(@user, @backgrounds) do %>
                <button style="border-radius:5px"class="btn btn-outline-dark"  data-bs-toggle="pill" data-bs-target="#pills-video" type="button" role="tab" aria-controls="pills-video" aria-selected="true">
                  <i class="fa-solid fa-chevron-left"></i>Back
                  </button>
              <% end %>
            </div>

        </div>
        <div>
            <%= cl_image_tag(@background.photo.key,:transformation=>[
            {:width=>640, :quality=>"auto", :crop=>"scale"},
            {:border=>"6px_solid_rgb:000", :x=>@background.x_axis/2, :gravity=>"north", :y=>@background.y_axis/2, :width=>@background.width/2, :height=>110, :angle=>@background.angle, :overlay=>{:font_family=>"Neucha", :font_size=>16, :text=>"This box is to help you set the shape and size of the text box associated with this image. The boarder will not be visible in your projects. Lorem%20ipsum%20dolor%20sit%20amet%20consectetur%20adipisicing%20elit%20sed%20do%20eiusmod%20tempor%20incididunt%20ut%20labore%20et%20dolore%20magna%20aliqua.%20Ut%20enim%20ad%20minim%20veniam%20quis%20nostrud%20exercitation%20ullamco%20laboris%20nisi%20ut%20aliquip%20ex%20ea%20commodo%20consequat"}, :crop=>"fit"}
            ]) %>
        </div>
      </div>
