<div class="flex">
    <%= simple_form_for [@user, @background] do |f| %>
    <div style="width:400px;padding-top: 20px;margin-right: 30px;">
      <div class="flex space-between">
        <p>Title</p>
        <%= f.input :title, label: false, input_html: { class: "form-input-medium" }  %>
      </div>
      <div class="flex space-between">
        <p>X-Axis</p>
        <%= f.input :x_axis, label: false, input_html: { class: "form-input-medium" }   %>
      </div>
      <div class="flex space-between">
        <p>Y-Axis</p>
        <%= f.input :y_axis, label: false, input_html: { class: "form-input-medium" }   %>
      </div>
      <div class="flex space-between">
        <p>Width</p>
        <%= f.input :width, label: false, input_html: { class: "form-input-medium" }   %>
      </div>
      <div class="flex space-between">
        <p>Height</p>
        <%= f.input :text_box_height, label: false, input_html: { class: "form-input-medium" }   %>
      </div>
      <div class="flex space-between">
        <p>Angle</p>
        <%= f.input :angle, label: false, input_html: { class: "form-input-medium" }   %>
      </div>
      <%= f.input :distort_nw_x %>
      <%= f.input :distort_nw_y %>
      <%= f.input :distort_ne_x %>
      <%= f.input :distort_ne_y %>
      <%= f.input :distort_sw_x %>
      <%= f.input :distort_sw_y %>
      <%= f.input :distort_se_x %>
      <%= f.input :distort_se_y %>


         <%= f.submit 'Save and preview', class: 'nav-link lb-btn', style: "border:none;width:100%"%>
       <% end %>

  </div>
  <div class="image-100">
       <%= cl_image_tag(@background.photo.key,
       :transformation=>[
        {:width=>1280, :quality=>"auto", :crop=>"scale"},
        {:border=>"6px_solid_rgb:000", :x=>@background.x_axis,
        :gravity=>"north_west", :y=>@background.y_axis,
        :width=>@background.width, :height=>@background.text_box_height, :angle=>@background.angle,
        # text distortion params
        :effect=> "distort:"+@background.distort_nw_x.to_s+":"+@background.distort_nw_y.to_s+":"+
        @background.distort_ne_x.to_s+":"+@background.distort_ne_y.to_s+":"+
        @background.distort_se_x.to_s+":"+@background.distort_se_y.to_s+":"+
        @background.distort_sw_x.to_s+":"+@background.distort_sw_y.to_s,
        #  text params
          :overlay=>
          {:font_family=>"Neucha", :font_size=>36,
          :text=>"This box is to help you set the shape and size of the text box associated with this image. The boarder will not be visible in your projects. Lorem%20ipsum%20dolor%20sit%20amet%20consectetur%20adipisicing%20elit%20sed%20do%20eiusmod%20tempor%20incididunt%20ut%20labore%20et%20dolore%20magna%20aliqua.%20Ut%20enim%20ad%20minim%20veniam%20quis%20nostrud%20exercitation%20ullamco%20laboris%20nisi%20ut%20aliquip%20ex%20ea%20commodo%20consequat"},
        :crop=>"fit"}
      ]) %>
  </div>
</div>
