 <div class="vh100">
  <%= render"shared/terminalnav" %>
  <div class="flex">
    <%= render "shared/sidebarbs" %>
    <div class="flex-column content-container">
      <%= render "shared/pagehead" %>
      <%= render "backgrounds/pagetabs" %>
      <%= render "backgrounds/cards", user: @user, backgrounds: @user.backgrounds %>
    </div>
  </div>
</div>
