<%= simple_form_for @user, url: user_path do |f| %>
  <div class="flex">
    <p>My meeting link</p>
    <%= f.input :meeting_link, label: false %>
    <%= f.submit 'Save', class: 'btn btn-outline-dark', style:"border-radius:5px"%>
  </div>
<% end %>

<%= @user.avatar_url %> <br>
<img src="<%= @user.avatar_url %>" alt="unable to locate image">
<%= @user.email %>
<p style="font-family: 'Kalam', cursive;">hello</p>

<p style="font-family: 'Covered By Your Grace', cursive;">Covered By Your Grace</p><br>
<p style="font-family: 'Gloria Hallelujah', cursive;">Gloria Hallelujah</p><br>
<p style="font-family: 'Indie Flower', cursive;">Indie Flower</p><br>
<p style="font-family: 'Inspiration', cursive;">Inspiration</p><br>
<p style="font-family: 'Kalam', cursive;">Kalam</p><br>
<p style="font-family: 'Nanum Brush Script', cursive;">Nanum Brush Script</p><br>
<p style="font-family: 'Nothing You Could Do', cursive;">Nothing You Could Do</p><br>
<p style="font-family: 'Permanent Marker', cursive;">Permanent Marker</p><br>
<p style="font-family: 'Reenie Beanie', cursive;">Reenie Beanie</p><br>
<p style="font-family: 'Rock Salt', cursive;">Rock Salt</p><br>
<p style="font-family: 'Shadows Into Light', cursive;">Shadows Into Light</p><br>
