
  <%= render"shared/terminalnav" %>
  <div class="flex">
    <%= render "shared/sidebarbs" %>
    <div class="flex-column content-container">
      <%= render "pagehead" %>
      <%= render "pagetabs" %>
      <%= render "userdetail" %>

    </div>
  </div>
