
  <%= render"shared/terminalnav" %>
  <div class="terminal-container">
    <%= render "shared/sidebar2" %>
    <div class="flex-column"style="width:100%; margin: 20px; ">
      <%= render "pagehead" %>
      <%= render "pagetabs" %>
      <%= render "usagedetail" %>

    </div>
  </div>
