<div class="flex-wrap content-start overflow-auto" style="padding-top:20px; justify-content:flex-start">
  <div class="overflow-auto" >
    <div class="flex flex-wrap content-start overflow-auto" style="justify-content:flex-start;">
      <% @user.videos.reverse.each do |video| %>
      <div class="flex" style="flex-direction:column" >
        <div class="item-card" style="margin-bottom:20px;margin-right:20px">
          <div type="button" data-bs-toggle="modal" data-bs-target=<%= "#exampleModal#{video.id}" %>>
            <% if video.file.attached? %><%= render "videos/modal", video: video %>
              <%= cl_video_tag video.file.key,
              height: 120,
              width: 213,
              crop: :fill,
              angle: video.rotation,
              class: "d-block rounded-lg toprd5px" %>
            <% else %>
              <img src="https://t3.ftcdn.net/jpg/04/34/72/82/360_F_434728286_OWQQvAFoXZLdGHlObozsolNeuSxhpr84.jpg" style="height:120px;width:213px" alt="unable to load video">
            <% end %>
          </div>
          <p style="padding:10px 0px;margin-left:12px" ><%= video.title.capitalize %></p>
          <% mbsize = video.file.byte_size.to_f / 1048576 %>
          <div class="flex space-between">
            <p style="margin-left:12px"><%=mbsize.round(2)%> MB</p>

              <div class="dropdown">
                <button class="bi bi-three-dots-vertical mr10" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false"
                        style="background-color:transparent;border-color:transparent">
                </button>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                  <li><a class="dropdown-item bi bi-pencil-square" href="/terminal/<%= @user.public_uid %>/videos/<%= video.public_uid%>/edit"> Edit</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a data-turbo-method="delete" class="dropdown-item bi bi-trash"data-turbo-confirm="Are you sure?" href="/terminal/<%= @user.public_uid %>/videos/<%= video.public_uid%>"> Delete</a></li>
                </ul>
              </div>

          </div>
        </div>
      <div>
    </div>
  </div>
      <% end %>
</div>
