<p><%= page_entries_info @videos %></p>
    <div class="flex">
      <% @user.videos.reverse.each do |video| %>
      <div class="card" style="width: 18rem; margin:5px">
        <div type="button" data-bs-toggle="modal" data-bs-target=<%= "#videoModal#{video.id}" %>>
            <%= render "videos/modal", video: video %>
            <%= cl_video_tag video.file.key,
              # height: 120,
              width: 300,
              crop: :fill,
              angle: video.rotation,
              class: "d-block rounded-lg card-pic"
              %>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= video.title.capitalize %></h5>
          <% file_size_mb = video.file.byte_size.to_f/ 1048576 %>
          <p class="card-text"><%=file_size_mb.round(2)  %> MB</p>
          <div class="flex space-between">
            <%= link_to "Edit", edit_user_video_path(@user, video), {class: "btn btn-primary"}  %>
            <a data-turbo-method="delete" class="btn btn-primary"data-turbo-confirm="Are you sure?" href="/terminal/<%= @user.public_uid %>/videos/<%= video.public_uid%>"> Delete</a>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <%= paginate @videos %>
