<div class="flex">
  <div style="width:400px;padding-top: 20px;margin-right: 30px;"">
    <%= simple_form_for [@user, @video] do |f| %>
      <div class="flex space-between">
        <p>Title</p>
        <%= f.input :title, label: false, input_html: { class: "form-input-medium" }  %>
      </div>
      <div class="flex space-between">
        <p>Rotation Angle</p>
        <%= f.input :rotation, collection: Video::ROTATION, label: false, input_html: { class: "form-input-medium" }  %>
      </div>
      <%# <div class="form-check form-switch">
        <%= f.check_box :bgrem_require, class: "form-check-input", id: "bgrem-checkbox"   %>
        <%# <label class="form-check-label" for="bgrem-checkbox">Remove video background</label>
      </div> %>
      <div class="bgrem-options">
        <p>Text Box options</p>
        <div class="flex space-between">
          <p>Width</p>
          <%= f.input :text_width,label: false %>
        </div>
        <div class="flex space-between">
          <p>Height</p>
          <%= f.input :text_box_height,label: false %>
        </div>
        <div class="flex space-between">
          <p>X Axis</p>
          <%= f.input :x_axis,label: false  %>
        </div>
        <div class="flex space-between">
          <p>Y Axis</p>
          <%= f.input :y_axis,label: false %>
        </div>
        <div class="flex space-between">
          <p>Angle</p>
          <%= f.input :angle,label: false %>
        </div>
        <div class="form-check form-switch">
          <%= f.check_box :text_distortion, class: "form-check-input", id: "distort-checkbox"  %>
          <label class="form-check-label" for="distort-checkbox">Distort text?</label>
        </div>
      </div>
      <div class="distort-options hidden">
        <div class="flex space-between">
          <div class="flex"style="width:45%">
            <%= f.input :distort_nw_x, label: "X" %>
            <%= f.input :distort_nw_y, label: "Y" %>
          </div>
          <div class="flex"style="width:45%">
            <%= f.input :distort_ne_x, label: "X" %>
            <%= f.input :distort_ne_y, label: "Y" %>
          </div>
        </div>
        <div class="flex space-between">
          <div class="flex"style="width:45%">
            <%= f.input :distort_sw_x, label: "X" %>
            <%= f.input :distort_sw_y, label: "Y" %>
          </div>
          <div class="flex"style="width:45%">
            <%= f.input :distort_se_x, label: "X" %>
            <%= f.input :distort_se_y, label: "Y" %>
          </div>
        </div>
      </div>
      <%= f.submit 'Save and preview', class: 'nav-link lb-btn', style: "border:none;width:100%" %>
    <% end %>
  </div>
  <div class="image-100">
   <%= render "videos/editvideofile" %>
  </div>
</div>
