<div class="flex">
  <div style="width:400px;padding-top: 20px;margin-right: 30px;"">
    <%= simple_form_for [@user, @video] do |f| %>
      <div class="flex space-between">
        <p>Title</p>
        <%= f.input :title, label: false, input_html: { class: "form-input-medium" }  %>
      </div>
      <div class="flex space-between">
        <p>Rotation Angle</p>
        <%= f.input :rotation, collection: Video::ROTATION, label: false, input_html: { class: "form-input-medium" }  %>
      </div>
        <%= f.input :text_width %>
        <%= f.input :text_box_height %>
        <%= f.input :x_axis  %>
        <%= f.input :y_axis %>
        <%= f.input :angle %>
        <%= f.input :distort_nw_x %>
        <%= f.input :distort_nw_y %>
        <%= f.input :distort_ne_x %>
        <%= f.input :distort_ne_y %>
        <%= f.input :distort_sw_x %>
        <%= f.input :distort_sw_y %>
        <%= f.input :distort_se_x %>
        <%= f.input :distort_se_y %>
      <%= f.input :bgrem_require, as: :radio_buttons, collection: [['Yes', true], ['No', false]], label: "Remove background for this video?", required: true %>
      <%= f.submit 'Save and preview', class: 'nav-link lb-btn', style: "border:none;width:100%" %>
    <% end %>
  </div>
  <div class="image-100">
   <%= render "videos/editvideofile" %>
  </div>
</div>
