<%= simple_form_for @video, url: user_videos_path do |f| %>
  <div style="width:400px;padding-top: 20px" >
      <div class="flex space-between">
        <p>Title</p>
        <%= f.input :title, label: false, input_html: { class: "form-input-medium" }  %>
      </div>
      <div class="flex space-between">
        <%= f.input :bgrem_require, as: :radio_buttons, label: "Remove background?", collection: [['Yes', true], ['No', false]], required: true %>
      </div>

        <p style="color:red">File types supported (mp4, quicktime/MOV, webm)</p>
        <%= f.input :file, as: :file, label: false, style: "width:400px" %>

        <%= f.submit "Upload", class: 'nav-link lb-btn', style: "border:none;width:100%" %>
  </div>
<% end %>
