<%= simple_form_for @video, url: user_videos_path, html: { class: "form-container-50 center-auto"} do |f| %>
        <%= f.input :title, label: false, input_html: { class: "form-input-100" }  %>
        <%= f.input :industry, collection: Video::INDUSTRY, label: false, input_html: { class: "form-input-100" }  %>


        <div id="fileParentDiv">
        <%= f.input :file, as: :file, label: false, input_html: { class: "form-input-100", placeholder: "drag and drop or click here" } %>
        </div>
        <%= f.submit "Upload", class: "btn btn-primary w-100" %>
<% end %>


<script>

  var displayvideo = document.getElementById('displayvid');
  var canvas = document.createElement('canvas');
  var ctx = canvas.getContext('2d');

  document.getElementById("fileParentDiv").getElementsByTagName("input")[0].addEventListener("change", captureScreenshot);

  function captureScreenshot() {
    displayvideo.src = URL.createObjectURL(document.querySelector('input[type=file]').files[0]);

    setTimeout(() => {
      capturecanvas();
    }, 1000);
  }

  function capturecanvas() {

  displayvideo.currentTime = 1;
  canvas.width = 340;
  canvas.height = 180;
  ctx.drawImage(displayvideo, 0, 0, canvas.width, canvas.height);

  var screenshot = canvas.toDataURL();
  document.querySelector("#thumbnail_data").value = screenshot;
  }

</script>

<style>

#displayvid {
  height: 180px;
  width:340px;
}

.displayvid_div{
  padding-top: 10px;
}

</style>
