

<%= simple_form_for @video, url: user_videos_path, html: { class: "form-container-50 center-auto"} do |f| %>
        <p><strong>Title:</strong></p>
        <%= f.input :title, label: false, input_html: { class: "form-input-100" }  %>

        <%# <div class="form-check form-switch">
          <%= f.check_box :bgrem_require, class: "form-check-input"  %>
          <%# <label class="form-check-label">Remove background for this video?</label>
        </div> %>

        <%# <%= f.hidden_field :thumbnail, id: "thumbnail_data" %>
        <div id="fileParentDiv">
        <%= f.input :file, as: :file, label: "Supported (mp4, quicktime/MOV, webm)", style: "width:400px" %>
        </div>
        <%= f.submit "Upload", class: 'nav-link lb-btn', style: "border:none;width:100%" %>
<% end %>
  <%# <div class="displayvid_div">
      <video id="displayvid"></video>
   </div> %>

<script>

  var displayvideo = document.getElementById('displayvid');
  var canvas = document.createElement('canvas');
  var ctx = canvas.getContext('2d');

  document.getElementById("fileParentDiv").getElementsByTagName("input")[0].addEventListener("change", captureScreenshot);

  function captureScreenshot() {
    displayvideo.src = URL.createObjectURL(document.querySelector('input[type=file]').files[0]);

    setTimeout(() => {
      capturecanvas();
    }, 1000);
  }

  function capturecanvas() {

  displayvideo.currentTime = 1;
  canvas.width = 340;
  canvas.height = 180;
  ctx.drawImage(displayvideo, 0, 0, canvas.width, canvas.height);

  var screenshot = canvas.toDataURL();
  document.querySelector("#thumbnail_data").value = screenshot;
  }

</script>

<style>

#displayvid {
  height: 180px;
  width:340px;
}

.displayvid_div{
  padding-top: 10px;
}

</style>
