

<%= simple_form_for @video, url: user_videos_path do |f| %>
  <div style="width:400px;padding-top: 20px" >
      <div class="flex space-between">
        <p>Title</p>
        <%= f.input :title, label: false, input_html: { class: "form-input-medium" }  %>
      </div>
      <div class="flex space-between">
        <%= f.input :bgrem_require, as: :radio_buttons, label: "Remove background?", collection: [['Yes', true], ['No', false]], required: true %>
      </div>

        <%= f.hidden_field :thumbnail, id: "thumbnail_data" %>
        <p style="color:red">File types supported (mp4, quicktime/MOV, webm)</p>
        <div id="fileParentDiv">
        <%= f.input :file, as: :file, label: false, style: "width:400px" %>
        </div>

        <%= f.submit "Upload", class: 'nav-link lb-btn', style: "border:none;width:100%" %>

        <div class="displayvid_div">
          <video id="displayvid"></video>
        </div>

  </div>
<% end %>

<script>

  var displayvideo = document.getElementById('displayvid');
  var canvas = document.createElement('canvas');
  var ctx = canvas.getContext('2d');

  document.getElementById("fileParentDiv").getElementsByTagName("input")[0].addEventListener("change", captureScreenshot);

  function captureScreenshot() {
    displayvideo.src = URL.createObjectURL(document.querySelector('input[type=file]').files[0]);

    setTimeout(() => {
      capturecanvas();
    }, 1000);
  }

  function capturecanvas() {

  displayvideo.currentTime = 1;
  canvas.width = 340;
  canvas.height = 180;
  ctx.drawImage(displayvideo, 0, 0, canvas.width, canvas.height);

  var screenshot = canvas.toDataURL();
  document.querySelector("#thumbnail_data").value = screenshot;
  }

</script>

<style>

#displayvid {
  height: 180px;
  width:340px;
}

.displayvid_div{
  padding-top: 10px;
}

</style>
