<div class="page-wrap">
  <%= render"shared/terminalnav" %>
  <div class="flex">
    <%= render "shared/sidebarbs" %>
    <div class="flex-column"style="width:100%; margin: 20px; ">
      <div class="flex space-between">
        <%= render "shared/pagehead" %>
        <%= render "unprocessedwarn" %>
      </div>
      <%= render "videos/pagetabs" %>
      <%= render "videos/scroll", user: @user, videos: @user.videos %>
    </div>
  </div>
</div>
