<div class="page-wrap">
  <%= render"shared/terminalnav" %>
  <div class="flex">
    <%= render "shared/sidebar" %>
    <div class="flex-column"style="width:100%; margin: 20px; ">
      <%= render "shared/pagehead" %>
      <%= render "videos/pagetabs" %>
      <%= render "videos/cards", user: @user, videos: @user.videos %>
    </div>
  </div>
</div>
