<header class="camsnav" id="navshadow">
<%# <div class="camsnav"> %>
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="container-fluid" style="max-width:1200px; height:70px;">
      <%= link_to root_path, class: "" do %>
        <%= image_tag "https://res.cloudinary.com/dth8lnhas/image/upload/v1671646453/Logos/Screenshot_2022-12-21_at_18.00.50-removebg-preview_copy_n65wmo.png", :class => "home-logo" %>
        <%= image_tag "https://res.cloudinary.com/dth8lnhas/image/upload/v1675409517/Logos/1_tke2gy.png", :class => "home-logo2" %>
      <% end %>
      <%= render "pages/home/navdropdown" %>
      <%= render "pages/home/navlogins" %>

    </div>
  </div>

</header>
<%# </div> %>

<script>

  var element1 = document.getElementById('droplist_one');
  var element2 = document.getElementById('droplist_two');

  function addDropShadow() {
    var header = document.getElementById('navshadow');
    header.style.boxShadow = '0 4px 20px rgb(15 31 41 / 16%)';
  }

  function removeDropShadow() {
    var header = document.getElementById('navshadow');
    header.style.boxShadow = '0 0 0 rgba(0, 0, 0, 0)';
    header.style.transition = 'box-shadow 0.5s ease-out';
  }

  window.addEventListener('scroll', function() {
    if (window.scrollY > 0) {
      addDropShadow();
    } else {
      removeDropShadow();
    }
  });

</script>
