<div class="col-sm-3 col-md-2 sidebar" >
  <%= image_tag "https://res.cloudinary.com/dth8lnhas/image/upload/v1671801094/Viddex-black-bg_wulssf.png", class:"sidebar-brand"%>

  <ul class="col-sm-3 col-md-2 nav btn-toggle-nav flex-column pt-30  " >
    <li>
      <div class="collapse show main-f2ad7dec">
        <ul class=" list-unstyled">
          <li class="ptb-5", id="sidebarborder"><i class="bi bi-record-circle mr10" style="color:white"></i> <%= link_to "Projects", user_projects_path(@user), style: "color:white" %></li>
          <li class="ptb-5", id="sidebarborder3"><i class="bi bi-speedometer2 mr10" style="color:white"></i> <%= link_to "Dashboard", user_path(@user), style: "color:white" %></li>
          <li class="ptb-5", id="sidebarborder2"><i class="bi bi-file-earmark-music-fill mr10" style="color:white"></i> <%= link_to "Audio Files", user_audios_path(@user ), style: "color:white" %> </li>
          <li class="ptb-5", id="sidebarborder4"><i class="bi bi-image-fill mr10" style="color:white"></i> <%= link_to "Backgrounds", user_backgrounds_path(@user ), style: "color:white" %> </li>
          <li class="ptb-5", id="sidebarborder"><i class="bi bi-camera-reels mr10" style="color:white"></i> <%= link_to "Videos", user_videos_path(@user), style: "color:white" %> </li>
          <li class="ptb-5", id="sidebarborder2"><i class="bi bi-house-door mr10 " style="color:white"></i> <%= link_to "Home", root_path, style: "color:white" %></li>
          <li class="ptb-5", id="sidebarborder"><i class="bi bi-book mr10 " style="color:white"></i> <%= link_to "Tutorials", root_path, style: "color:white" %></li>
        </ul>
      </div>
    </li>

    <li >
    <button style="width:165px" aria-expanded="true" class="btn btn-toggle align-items-center rounded tal" data-bs-toggle="collapse" data-bs-target=".sidebar .main-846495f9"><i class="bi bi-collection mr10"></i>Assets  <i class="fas fa-chevron-down"></i> </button>
      <div class="collapse show main-846495f9">
        <% if @user.provider == "google_oauth2" %>
            <div class="dropdown">
              <button data-bs-toggle="dropdown" style="background-color:transparent; border:none;" >
                <img class="g-logo" src="<%= @user.avatar_url %>" alt="unable to locate image">
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item"> <%= @user.first_name || @user.full_name %> <br>
                      <%= @user.email %></a></li>
                <li><hr class="dropdown-divider"></li>
                <li><%= link_to destroy_user_session_path, data: {turbo_method: :false} do %>
                  <span>
                    <p class="dropdown-item">Logout</p>
                  </span>
                <% end %></li>
              </ul>
            </div>
        <% else %>
          <%= link_to destroy_user_session_path, data: {turbo_method: :false} do %>
            <span class="nav-link">
              <p style="color:white; font-size:18px; font-weight: normal">Logout</p>
            </span>
          <% end %>
        <% end %>
      </div>
    </li>
  </ul>
</div>
