  <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark vh100" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <%# <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg> %>
      <div style="margin-top:26px; padding:0px 10px" >
        <%# <img style="margin-bottom:8px; margin-right:20px"src="https://res.cloudinary.com/dth8lnhas/image/upload/v1675409519/Logos/6_cnzkfl.png" height="32"> %>
        <%= image_tag "branding/viddex-logo-white.svg" %>
        <%# <span class="fs-4">My Viddex</span> %>
      </div>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <%# change class to 'nav-link active' to highlight the active tab %>
        <a href=" <%= user_projects_path(@user) %>" class="nav-link text-white">
          <i class="bi bi-record-circle mr10"></i>
          Projects
        </a>
      </li>
       <li class="nav-item">
        <%# change class to 'nav-link active' to highlight the active tab %>
        <a href=" <%= user_templates_path(@user) %>" class="nav-link text-white">
          <i class="bi bi-collection-play mr10"></i>
          Templates
        </a>
      </li>
      <li>
        <a href="<%= user_path(@user) %>" class="nav-link text-white">
          <i class="bi bi-speedometer2 mr10"></i>
          Dashboard
        </a>
      </li>
      <li>
        <a href="<%= user_audios_path(@user) %>" class="nav-link text-white">
          <i class="bi bi-camera-reels mr10"></i>
          Media Library
        </a>
      </li>
    </ul>
    <hr>
    <ul class="nav nav-pills flex-column">
      <li>
        <a href="<%= root_path %>" class="nav-link text-white">
          <i class="bi bi-house-door mr10 "></i>
          Home
        </a>
      </li>
      <li>
        <a href="<%= root_path %>" class="nav-link text-white">
          <i class="bi bi-book mr10 "></i>
          Tutorials
        </a>
      </li>
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <% if @user.provider == "google_oauth2" %>
        <img src="<%= @user.avatar_url %>" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong><%= @user.first_name || @user.full_name %> </strong>
        <% else %>
        <%# add an alternate image source if not google log %>
        <% end %>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><%= link_to "New Project", select_user_projects_path(@user), class: "dropdown-item" %></li>
        <li><%= link_to "My details", edit_user_path(@user), class: "dropdown-item" %></li>
        <li><hr class="dropdown-divider"></li>
        <li><%= link_to "Sign out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :false} %></li>
      </ul>
    </div>
  </div>
