<div style="overflow:auto">
  <div class="ts-grid-container">
    <div class="template-grid">
      <div class="template-summary">
        <h3><%= @selected_template.title %></h3>
      </div>
    </div>
    <div class="video-sequence-box" data-controller="slideshow">
      <div data-controller="new-project-form">
        <%= simple_form_for [@user, @project] do |f| %>
          <div data-slideshow-target="slide">
            <p>Select your <%= @selected_template.video_count %> videos <br></p>
            <% video_count = 1 %>
            <%= @selected_template.video_count.times do %>
              <div class="flex space-between">
                <div>
                  <h5>Video <%= video_count %></h5>
                  <p><%= @selected_template["video_title#{video_count}"]%></p> <br>
                </div>
                <!-- Modal button -->
                <button type="button" class="btn_hover agency_banner_btn video_select"
                  id="thumbnail-button<%=video_count%>" data-bs-toggle="modal"
                  data-bs-target="#popupModal<%=video_count%>">
                    Select video
                </button>
                <!-- Modal -->
                <div class="modal fade" id="popupModal<%=video_count%>" tabindex="-1" aria-labelledby="popupModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="popupModalLabel">Select a video</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body flex space-between wrap">
                          <% @user.videos.each do |video| %>
                            <div>
                              <!--  <ul class="thumbnail_select " onClick="choosevid<%=video_count%>(this)" data-bs-dismiss="modal" data-value="<%=video.id %>" id="<%=video.title%>">-->
                            <ul class="thumbnail_select " onClick="chooseVideo(<%=video_count%>, this)" data-bs-dismiss="modal" data-value="<%=video.id %>" id="<%=video.title%>">
                                <img src="<%= video.service_url%>", id="thumbnail-<%= video.id %>", class="thumbnails"><br />
                                <%= video.title %>
                              </ul>
                            </div>
                          <% end %>
                      <%= f.association :videos, as: :hidden, collection: @selectedVideos, input_html: { id: "selected_video#{video_count}", multiple: true}%>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                <%# end of modal %>
              </div>
              <% video_count += 1 %>
            <% end %> Videos<!--end of loop -->
            <button type="button" data-action="slideshow#next"> Next </button>
          </div>

          <div data-slideshow-target="slide">
              <%= f.input :message_body %>
              <%= f.input :font %>
              <%= f.input :font_size %>

              <button type="button" data-action="slideshow#previous"> Previous </button>
              <button type="button" data-action="slideshow#next"> Next </button>
          </div>

          <div data-slideshow-target="slide">
              <%= f.association :backgrounds %>
              <%= f.association :audios %>
              <button type="button" data-action="slideshow#previous"> Previous </button>
              <button type="button" data-action="slideshow#next"> Next </button>
          </div>

          <div data-slideshow-target="slide">
              <%= f.input :title %>
              <%= f.input :prospect_first %>
              <%= f.input :prospect_email %>
              <%= f.input :prospect_company %>
              <%= f.input :include_meeting_link %>
              <button type="button" data-action="slideshow#previous"> Previous </button>
              <%= f.submit %>
          </div>

          <%= f.association :templates, collection: @templates, as: :hidden, input_html: { value: @selected_template&.id, multiple: true} %>

        <% end %>
      </div>
    </div>
  </div>
</div>



<script>
  // video selection
  var selectedVideos = [];

  var buttons = [];

  for (var i = 1; i <= 3; i++) {
    buttons.push(document.getElementById("thumbnail-button" + i));
  }

  function chooseVideo(index, element) {
    var videoId = element.dataset.value;
    document.getElementById("selected_video" + index).value = videoId;
    buttons[index - 1].innerHTML = element.innerText.trim();
    selectedVideos[index - 1] = videoId;
  }


</script>
