<div style="overflow:auto">
  <div class="ts-grid-container">
    <div class="template-grid">
      <div class="template-summary">
        <%= simple_form_for [@user, @project] do |f| %>
          <%= f.association :templates, collection: @templates, as: :hidden, input_html: { value: @selected_template&.id, multiple: true} %>
          <h3><%= @selected_template.title %></h3>
      </div>
    </div>
    <div class="video-sequence-box" data-controller="slideshow">
      <button data-action="slideshow#previous"> Previous </button>
      <button data-action="slideshow#next"> Next </button>
      <div data-slideshow-target="slide">
        <p>Select your <%= @selected_template.video_count %> videos <br></p>
        <% video_count = 1 %>
        <%= @selected_template.video_count.times do %>
          <div class="flex space-between">
            <div>
              <h5>Video <%= video_count %></h5>
              <p><%= @selected_template["video_title#{video_count}"]%></p> <br>
            </div>
            <!-- Modal button -->
            <button type="button" class="btn_hover agency_banner_btn video_select"
              id="thumbnail-button<%=video_count%>" data-bs-toggle="modal"
              data-bs-target="#popupModal<%=video_count%>">
                Select video
            </button>
            <!-- Modal -->
            <div class="modal fade" id="popupModal<%=video_count%>" tabindex="-1" aria-labelledby="popupModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="popupModalLabel">Select a video</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body flex space-between wrap">
                      <% @user.videos.each do |video| %>
                        <div>
                          <!--  <ul class="thumbnail_select " onClick="choosevid<%=video_count%>(this)" data-bs-dismiss="modal" data-value="<%=video.id %>" id="<%=video.title%>">-->
                        <ul class="thumbnail_select " onClick="chooseVideo(<%=video_count%>, this)" data-bs-dismiss="modal" data-value="<%=video.id %>" id="<%=video.title%>">
                            <img src="<%= video.service_url%>", id="thumbnail-<%= video.id %>", class="thumbnails"><br />
                            <%= video.title %>
                          </ul>
                        </div>
                      <% end %>
                  <%= f.association :videos, as: :hidden, collection: @selectedVideos, input_html: { id: "selected_video#{video_count}", multiple: true} %>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <%# end of modal %>
          </div>
          <% video_count += 1 %>
        <% end %>
      </div>
      <div data-slideshow-target="slide">
        first
      </div>
      <div data-slideshow-target="slide">
        second
      </div>
      <div data-slideshow-target="slide">
        third
      </div>
      <div data-slideshow-target="slide">
        fourth
      </div>

      <%= f.input :title  %>
      <%= f.input :prospect_first %>
      <%= f.input :prospect_company %>
      <%= f.input :prospect_email %>
      <%= f.input :message_body %>
      <%= f.input :font %>
      <%= f.input :font_size %>
      <%# Audio %>
      <div class="flex space-between mb-16">
        <div class="flex-column w-48">
          <p><strong>Audio: (optional)</strong></p>
          <button type="button" id="audio-select-btn"class="flex space-between form-control" data-bs-toggle="modal" data-bs-target="#audioModal">
            None selected
            <i class="bi bi-chevron-down"></i>
          </button>
        </div>
        <%# Thumbnail/background %>
        <div class="flex-column w-48">
          <p><strong>Thumbnail: (optional)</strong></p>
          <button type="button" id="thumb-select-btn"class="flex space-between form-control" data-bs-toggle="modal" data-bs-target="#thumbModal">
            None selected
            <i class="bi bi-chevron-down"></i>
          </button>
        </div>
      </div>
      <%# audio modal %>
      <div class="modal fade" id="audioModal" tabindex="-1" aria-labelledby="audioModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="audioModalLabel">Select audio overlay</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body flex space-between wrap">
                <% @user.audios.order(title: :asc).each do |audio| %>
                  <div>
                    <ul class="audio_select " onClick="chooseaudio(this)" data-bs-dismiss="modal" data-value="<%=audio.id %>" id="<%=audio.title%>">
                      <button class="btn btn-primary"type="button" id="audio-select"><%= audio.title %></button>
                    </ul>
                  </div>
                <% end %>
            <%= f.association :audios, as: :hidden, collection: @user_audios, input_html: { id: "selected_audio", multiple: true} %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
        <%# end of modal %>
        <%# thumbnail modal %>
        <div class="modal fade" id="thumbModal" tabindex="-1" aria-labelledby="thumbModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="thumbModalLabel">Select a thumbnail</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body flex space-between wrap">
                <% @user.backgrounds.each do |bg| %>
                  <div>
                    <ul class="thumbnail_select " onClick="choosethumb(this)" data-bs-dismiss="modal" data-value="<%=bg.id %>" id="<%=bg.title%>">
                      <img src="<%= bg.card_path%>", id="thumbnail-select %>", class="thumbnails"><br />
                      <%= bg.title %>
                    </ul>
                  </div>
                <% end %>
                <%= f.association :backgrounds, as: :hidden, collection: @user_backgrounds, input_html: { id: "selected_thumb", multiple: true} %>
               </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
          <%# end of modal %>
      <%= f.submit %>
      <% end %>
    </div> <!--end of data controller-->
  </div>
</div>

<script>

  // video selection
  var selectedVideos = [];

  var buttons = [];

  for (var i = 1; i <= 3; i++) {
    buttons.push(document.getElementById("thumbnail-button" + i));
  }

  function chooseVideo(index, element) {
    var videoId = element.dataset.value;
    document.getElementById("selected_video" + index).value = videoId;
    buttons[index - 1].innerHTML = element.innerText.trim();
    selectedVideos[index - 1] = videoId;
  }

  // thumbnail selection

  var thumbbtn = document.getElementById("thumb-select-btn")

  document.querySelector("#thumb-select-btn").addEventListener("change", function() {
    console.log("selected_thumb changed");
    toggleSwitches();
  });

  function choosethumb(element) {
    var thumbId = element.dataset.value;
    document.getElementById("selected_thumb").value = thumbId;
    thumbbtn.innerHTML = element.innerText.trim() + "<i class='bi bi-chevron-down'></i>";
  }

  // audio selection

  var audiobtn = document.getElementById("audio-select-btn")

  function chooseaudio(element) {
    var audioId = element.dataset.value;
    document.getElementById("selected_audio").value = audioId;
    audiobtn.innerHTML = element.innerText.trim() + "<i class='bi bi-chevron-down'></i>";
  }

</script>
