<div class="flex space-between mb-16">
        <!-- Button trigger modal -->
        <% video_number = 1 %>
        <% 2.times do %>
          <button type="button" class="form-btn-25" id="thumbnail-button<%=video_number%>" data-bs-toggle="modal" data-bs-target="#popupModal<%=video_number%>">
            Video <%= video_number %> <br>
            <i class="fa-solid fa-circle-plus"></i>
          </button>
          <!-- Modal -->
          <div class="modal fade" id="popupModal<%=video_number%>" tabindex="-1" aria-labelledby="popupModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="popupModalLabel">Select a video</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body flex space-between wrap">
                    <% @user.videos.each do |video| %>
                      <div>
                        <!--  <ul class="thumbnail_select " onClick="choosevid<%=video_number%>(this)" data-bs-dismiss="modal" data-value="<%=video.id %>" id="<%=video.title%>">-->
                       <ul class="thumbnail_select " onClick="chooseVideo(<%=video_number%>, this)" data-bs-dismiss="modal" data-value="<%=video.id %>" id="<%=video.title%>">
                          <img src="<%= video.service_url%>", id="thumbnail-<%= video.id %>", class="thumbnails"><br />
                          <%= video.title %>
                        </ul>
                      </div>
                    <% end %>
                <%= f.association :videos, as: :hidden, collection: @selectedVideos, input_html: { id: "selected_video#{video_number}", multiple: true} %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <%# end of modal %>
          <% video_number += 1 %>
        <% end %>
        <%# end of video select %>
      </div>

<script>

  var selectedVideos = [];

  var buttons = [
    document.getElementById("thumbnail-button1"),
    document.getElementById("thumbnail-button2")
    // document.getElementById("thumbnail-button3")
  ];

  var selectedFont = ""
  var fontbtn = document.getElementById("font-select-btn")
  var thumbbtn = document.getElementById("thumb-select-btn")
  var audiobtn = document.getElementById("audio-select-btn")

  document.addEventListener('change', function(event) {
  if (event.target.matches('#flexSwitchCheckDefault')) {
    var messageOptions = document.getElementsByClassName("message-options");
    if (event.target.checked) {
      for (var i = 0; i < messageOptions.length; i++) {
        messageOptions[i].classList.remove("hidden");
      }
    } else {
      for (var i = 0; i < messageOptions.length; i++) {
        messageOptions[i].classList.add("hidden");
      }
    }
  }
}, false);



  // Call the toggleSwitches function when the thumbnail select box changes
  document.querySelector("#thumb-select-btn").addEventListener("change", function() {
    console.log("selected_thumb changed");
    toggleSwitches();
  });

  // Call the toggleSwitches function on page load to set the initial visibility of the switches
  toggleSwitches();


  function choosefont(element) {
    var fontId = element.dataset.value;
    document.getElementById("selected_font").value = fontId;
    fontbtn.innerHTML = element.innerText.trim() + "<i class='bi bi-chevron-down'></i>";
    // selectedFont = fontId;
  }



  function chooseaudio(element) {
    var audioId = element.dataset.value;
    document.getElementById("selected_audio").value = audioId;
    audiobtn.innerHTML = element.innerText.trim() + "<i class='bi bi-chevron-down'></i>";
  }

  // var button1 = document.getElementById("thumbnail-button1");
  // var button2 = document.getElementById("thumbnail-button2");
  // var button3 = document.getElementById("thumbnail-button3");

  // function choosevid1(element) {

  //   var videoId = element.dataset.value;
  //   document.getElementById("selected_video1").value = videoId;
  //   button1.innerHTML = element.innerText.trim() +  "<br /> <i class='fa fa-chevron-down'></i>";
  //   selectedVideos[0] = videoId;
  // }

  // function choosevid2(element) {

  //   var videoId = element.dataset.value;
  //   document.getElementById("selected_video2").value = videoId;
  //   button2.innerHTML = element.innerText.trim() +  "<br /> <i class='fa fa-chevron-down'></i>";
  //   selectedVideos[1] = videoId;
  // }

  // function choosevid3(element) {

  //   var videoId = element.dataset.value;
  //   document.getElementById("selected_video3").value = videoId;
  //   button3.innerHTML = element.innerText.trim() +  "<br /> <i class='fa fa-chevron-down'></i>";
  //   selectedVideos[2] = videoId;
  // }



  function choosethumb(element) {
    var thumbId = element.dataset.value;
    document.getElementById("selected_thumb").value = thumbId;
    thumbbtn.innerHTML = element.innerText.trim() + "<i class='bi bi-chevron-down'></i>";
    document.getElementById('flexSwitchCheckDefault').disabled = false;
  }

  function chooseVideo(index, element) {
  var videoId = element.dataset.value;
  document.getElementById("selected_video" + index).value = videoId;
  buttons[index - 1].innerHTML = element.innerText.trim() + "<br /> <i class='fa fa-chevron-down'></i>";
  selectedVideos[index - 1] = videoId;
  }

</script>
