<p><%= page_entries_info @projects %></p>

<table class="table table-striped table-hover" style="width:100%">
  <thead>
    <tr>
      <th>Title</th>
      <th>Created at</th>
      <th>Audio</th>
      <th>Thumbnail</th>
      <th>ID</th>
      <th>Edit</th>
      <th>View</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
    <tr>
        <td><%= link_to "#{project.title}", user_project_path(@user, project) %></td>
        <td><%= project.created_at.strftime('%d/%m/%y') %></td>
      <% if project.audios.exists? %>
        <td><%= project.audios[0].title%></td>
      <% else %>
        <td>none</td>
      <% end %>
      <% if project.backgrounds.exists? %>
        <td><%= project.backgrounds[0].title%></td>
      <% else %>
        <td>none</td>
      <% end %>
        <td><%= project.public_uid %></td>
        <td><%= link_to "", edit_user_project_path(@user, project), {class: "dropdown-item bi bi-pencil-square"} %></td>
        <td><a class="dropdown-item bi bi-binoculars mr10"href="/projects/<%= project.public_uid %>/watch"></a></td>
        <td><a data-turbo-method="delete" class="dropdown-item bi bi-trash"data-turbo-confirm="Are you sure?" href="/terminal/<%= @user.public_uid %>/projects/<%= project.public_uid%>"></a></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @projects %>
