<%= simple_form_for [@user, @company],  html: { class: "form-container-50 center-auto"} do |f| %>
  <div class="flex space-between">
    <div class="flex-column w-48">
      <p><strong>Name:</strong></p>
      <%= f.input :name, label: false, input_html: { class: "form-input-100" } %>
    </div>
    <div class="flex-column w-48">
      <p><strong>Subscription type:</strong></p>
      <%= f.input :subscription_type, label: false, input_html: { class: "form-input-100" } %>
    </div>
  </div>
  <div class="flex space-between">
    <div class="flex-column w-48">
      <p><strong>Industry:</strong></p>
      <%= f.input :industry, collection: User::INDUSTRY, label: false, input_html: { class: "form-input-100" } %>
    </div>
    <div class="flex-column w-48">
      <p><strong>Domain:</strong></p>
      <%= f.input :domain,  label: false, input_html: { class: "form-input-100" } %>
    </div>
  </div>
    <div>
      <p><strong>Colour 1:</strong></p>
      <%= f.input :color_theme1, disabled: true,label: false, input_html: { class: "form-input-100" } %>
    </div>
    <div>
      <p><strong>Colour 2:</strong></p>
      <%= f.input :color_theme1, label: false, input_html: { class: "form-input-100" } %>
    </div>
    <%= f.submit 'Save/Update', class:"btn btn-primary w-100", id: "savebutton"%>
<% end %>
