    <div class="body_wrapper">
        <%# navbar %>
        <%= render "pages/navbar/saasnav" %>
        <%# banner %>
        <%= render "pages/home/homepage/banner" %>
        <%# section 2 - why video? %>
        <%= render "pages/home/homepage/whyvideo2" %>
        <%# section 3 - why viddex? %>
        <%= render "pages/home/homepage/whyviddex" %>
        <%# section 4 - user video %>
        <%= render "pages/home/homepage/home_video" %>
        <%# section 5 - testimonials %>
        <%= render"pages/home/homepage/testimonials" %>
        <%# section 6 - CTA %>
        <%= render "pages/home/homepage/cta" %>
        <%# Section 7 - Footer %>
        <%= render "shared/footer" %>
    </div>

    <script src="https://html.droitlab.com/saasland/js/jquery-3.6.0.min.js"></script>
    <script src="https://html.droitlab.com/saasland/js/popper.min.js"></script>
    <script src="https://html.droitlab.com/saasland/js/bootstrap.min.js"></script>
    <script src="https://html.droitlab.com/saasland/vendors/wow/wow.min.js"></script>
    <script src="https://html.droitlab.com/saasland/vendors/sckroller/jquery.parallax-scroll.js"></script>
    <script src="https://html.droitlab.com/saasland/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="https://html.droitlab.com/saasland/vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="https://html.droitlab.com/saasland/vendors/isotope/isotope-min.js"></script>
    <script src="https://html.droitlab.com/saasland/vendors/magnify-pop/jquery.magnific-popup.min.js"></script>
    <script src="https://html.droitlab.com/saasland/vendors/scroll/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="https://html.droitlab.com/saasland/js/plugins.js"></script>
    <script src="https://html.droitlab.com/saasland/js/main.js"></script>
