<%# <%= render "pages/home/homepage/preloader" %>
    <div class="body_wrapper">
        <%# navbar %>
        <%= render "pages/navbar/saasnav" %>
        <%# banner %>
        <%= render "pages/home/homepage/banner" %>
        <%# section 2 - why video? %>
        <%= render "pages/home/homepage/whyvideo2" %>
        <%# section 3 - why viddex? %>
        <%= render "pages/home/homepage/whyviddex" %>
        <%# section 4 - user video %>
        <%= render "pages/home/homepage/home_video" %>
        <%# section 5 - testimonials %>
        <%= render"pages/home/homepage/testimonials" %>
        <%# section 6 - CTA %>
        <%= render "pages/home/homepage/cta" %>
        <%# Section 7 - Footer %>
        <%= render "shared/footer" %>
    </div>

        <%# <section class="fun_fact_area fun_fact_area_two">
            <div class="container">
                <div class="row flex-row-reverse">
                    <div class="col-lg-7 col-md-6">
                        <div class="fact_author_img fact_author_img_two text-end">
                            <div class="square_box box_three"></div>
                            <div class="square_box box_four"></div>
                            <img class="wow fadeInUp" data-wow-delay="0.3s" src="img/home8/fact.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6">
                        <div class="fun_fact_content">
                            <h1 class="t_color3 f_p f_700 mb_20">Trusted</h1>
                            <p class="f_400 f_size_15 l_height28 mb_40">Why I say old chap that is spiffing barney,
                                nancy boy bleeder chimney pot Richard cheers the little rotter so I said, easy peasy
                                buggered blower bevvy A bit of how's your father he nicked it arse over tit. </p>
                            <div class="d-flex">
                                <div class="fact_item">
                                    <h1 class="t_color3"><span>7</span>M+</h1>
                                    <p class="mb-0">Users <br>trust our tools</p>
                                </div>
                                <div class="fact_item pl_100">
                                    <h1 class="t_color3"><span>100</span>K</h1>
                                    <p class="mb-0">Join <br>every month</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> %>





    <script src="https://droitthemes.com/html/saasland/js/jquery-3.6.0.min.js"></script>
    <script src="https://droitthemes.com/html/saasland/js/popper.min.js"></script>
    <script src="https://droitthemes.com/html/saasland/js/bootstrap.min.js"></script>
    <script src="https://droitthemes.com/html/saasland/vendors/wow/wow.min.js"></script>
    <script src="https://droitthemes.com/html/saasland/vendors/sckroller/jquery.parallax-scroll.js"></script>
    <script src="https://droitthemes.com/html/saasland/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="https://droitthemes.com/html/saasland/vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="https://droitthemes.com/html/saasland/vendors/isotope/isotope-min.js"></script>
    <script src="https://droitthemes.com/html/saasland/vendors/magnify-pop/jquery.magnific-popup.min.js"></script>
    <script src="https://droitthemes.com/html/saasland/vendors/scroll/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="https://droitthemes.com/html/saasland/js/plugins.js"></script>
    <script src="https://droitthemes.com/html/saasland/js/main.js"></script>
