<%= render"shared/navbar" %>

<div class="homestart">

<br /><br /><br /><br /><br /><br /><br /><br />

<div style="font-size:46px; padding-left: 350px; color:#475066; font-family: 'LL Circular', sans-serif; font-weight: 600; background-color:fafafa;">
Sales Video <br />
Software that <br />
Closes More Deals
</div>

<br />

<div style="padding-left: 350px; color:#5B627D; font-family: 'LL Circular', sans-serif; font-size:14px; line-height: 1.9;">
Easily create and share personalized videos throughout your entire <br />
sales cycle. Communicate better with prospects, customers, and <br />
teams to generate more leads and close more deals. <br />
</div>

<br />

<div style="padding-left: 350px;">
<button style="background-color: #5E5CFA; color:white; font-family: 'LL Circular', sans-serif; font-weight: 600; padding: 16px 40px; font-size:11px; border-radius: 2px; border-color: #5E5CFA; width: 230px; height:50px">
<div style="float:left"><%= image_tag "chrome.jpg", height:15 %></div>
<div >Add to Chrome. It's Free</div>
</button>
<button style="background-color: white; color:#5E5CFA; font-family: 'LL Circular', sans-serif; font-weight: 600; padding: 16px 40px; font-size:11px; border-radius: 2px; border-color: #5E5CFA; height:50px">
Get a Demo
</button>
</div>

<br />

<div style="padding-left: 350px; font-size:10px; font-family: 'LL Circular', sans-serif;">
<span style="color:#5B627D; font-size:12px;">or</span>
<a href="#" style="text-decoration: underline;">watch a video to see how it works </a>
</div>

</div>

<br /><br /><br /><br />

<div class="chatbot">
<%= image_tag "chatbot.png", height:50 %>
</div>

<br /><br /><br />

<div style="text-align:center; color:#475066; font-size: 45px; font-family: 'LL Circular', sans-serif; font-weight: 600;">
Easy, Powerful Video Creation
</div>

<br />

<div style="text-align:center; color:#475066; font-family: 'LL Circular', sans-serif;">
Email isn’t dead, but it sure is boring. With Viddex, you can record and send videos in just a few <br />
clicks – perfect for busy sales reps trying to break into inboxes or marketers trying to make a splash.
</div>

<br /><br /><br /><br />

<div style="display: flex; align-items: center; justify-content:center; ">

<table style="border-collapse: collapse;">
<tr class="tableheaders">
<td style="color:#475066; background-color:#DDE1F0; height:80px; border-radius: 5px 5px 0 0; padding-left: 30px;">Selling without Viddex</td>
</tr>
<tr class="tablecards">
<td class="tablecard">Your message looks like any other email <br />
in your prospect's inbox.</td>
</tr>
<tr class="tablecards">
<td class="tablecard">Buyers want to do their own research. <br />
It’s getting harder to book effective <br />
meetings.</td>
</tr>
<tr class="tablecards">
<td class="tablecard">Engaging and nurturing leads is taking <br />
more emails, calls, and effort.</td>
</tr>
<tr class="tablecards">
<td class="tablecard">The purchasing process is getting more <br />
complex, and meeting after meeting isn’t <br />
helping anyone.</td>
</tr>
</table>

<table style="border-collapse: collapse;">
<tr class="tableheaders">
<td style="background-color:#5E5CFA; color:white; height:105px; border-radius: 5px 5px 0 0; padding-left: 30px;">Selling with Viddex</td>
</tr>
<tr>
<td class="tablecard2"> <b><span id="ticks">&#10003;</span> Send high-impact</b> sales videos that stand <br />
&nbsp;&nbsp;&nbsp; out in a prospect's inbox and increase <br />
&nbsp;&nbsp;&nbsp; your reply rate.</td>
</tr>
<tr>
<td class="tablecard2"><b><span id="ticks">&#10003;</span> Easily share,</b> demos, whitepapers, <br />
&nbsp;&nbsp;&nbsp; walkthroughs, and more to guide your <br />
&nbsp;&nbsp;&nbsp; buyer to next-steps.</td>
</tr>
<tr>
<td class="tablecard2"><b> <span id="ticks">&#10003;</span> Send personalized</b> asynchronous videos <br />
&nbsp;&nbsp;&nbsp; to reduce the back and forth by <b>85%.</b></td>
</tr>
<tr>
<td class="tablecard2" style="height:136px"><b> <span id="ticks">&#10003;</span> Record video handoffs</b> to build rapport <br />
&nbsp;&nbsp;&nbsp; and introduce qualified accounts to later- <br />
&nbsp;&nbsp;&nbsp; stage sales reps.</td>
</tr>
</table>

</div>

<br /><br /><br />

<div style="text-align:center; color:#475066; font-family: 'LL Circular', sans-serif; font-size:13px">
MORE THAN 12 MILLION PEOPLE ACROSS 250,000 COMPANIES CHOOSE VIDDEX
</div>

<br /><br /><br /><br /><br /><br />

<div style="background-color: #e7eaf6; width:100%; height:600px;">

<div style="padding-left:280px; padding-top:200px">
<div style="color:#475066;">TEMPLATE HUB</div>
<div style="font-size:25px; font-weight:bold; color:#475066;">Try Our Ready-To-Record <br /> Video Templates</div>
<br />
<div style="font-size:12px; color:#475066;">From video prospecting and introductions to deal <br />
progression, sales demos, follow-up templates and more, <br />
explore our collection of free video templates perfect for <br />
every stage of the sales cycle.</div>
<br />
<a href="#" style="color:#5E5CFA; font-weight:bold;">View all Templates &#10132;</a>
</div>

</div>

<br /><br /><br /><br />

<div class="reviews">

</div>

<div class="salestab">

<div class="salesdivs">
<div style="font-size:24px; font-weight:bold;">
Qualify more leads with <br />
personalised videos
</div>

<br />

<div style="font-size:13px; line-height:1.9;">
Become more memorable in your prospects’ inbox with <br />
Vidyard. Create amazing sales videos for your prospects that <br />
will put a face to your name in just a few clicks- no video <br />
creation expertise required.
</div>

<br />

<div style="font-size:13px; line-height:1.9;">
<span id="ticks">&#10003;</span> Stand out from the crowd <br />
<span id="ticks">&#10003;</span> Easily send videos by email, LinkedIn, and more <br />
<span id="ticks">&#10003;</span> Know who’s watching your videos so you can follow <br />
&nbsp;&nbsp;&nbsp; up right away
</div>

<br />

<a href="#" style="font-size:13px; font-weight:bold; color:#5E5CFA;">Viddex for Sales &#10132;</a>

<br /><br />

<div style="font-size:11px; padding:10px; background-color:#f5f7ff; border-radius: 5px 5px 5px 5px; font-weight:bold; color:#475066; border: 0.5px solid #475066;">
<i>“No other video vendor is doing what Viddex does. <br />
The platform is built for sales.” – Morgan Jacobson, Principal <br />
Manager of Sales Strategy and Systems, HubSpot </i>
</div>

</div>
<%# end of salesdivs class %>

</div>
<%# end of salestab class %>

<div class="marketingtab">

<div class="marketingdivs">

<div style="font-size:24px; font-weight:bold;">
Shorten your deal cycle with <br />
Viddex
</div>

<br />

<div style="font-size:13px; line-height:1.9;">
Send relevant videos to your prospects so you can close deals <br />
quicker. Share demos, proposal walkthroughs, and customer <br />
stories that guide buyers through the purchase and get <br />
opportunities over the finish line.
</div>

<br />

<div style="font-size:13px; line-height:1.9;">
<span id="ticks">&#10003;</span> Track prospect engagement and push data to your <br />
&nbsp;&nbsp;&nbsp; CRM <br />
<span id="ticks">&#10003;</span> Drive next steps with in-video CTAs <br />
<span id="ticks">&#10003;</span> Reduce the number of emails sent to booked <br />
&nbsp;&nbsp;&nbsp; meetings ratio <br />
</div>

<br />

<a href="#" style="font-size:13px; font-weight:bold; color:#5E5CFA;">
Viddex for Marketing &#10132;
</a>

<br /><br />

<div style="font-size:11px; padding:10px; background-color:#f5f7ff; border-radius: 5px 5px 5px 5px; font-weight:bold; color:#475066; border: 0.5px solid #475066;">
<i>“For tracking engagement, clicks, and views there’s <br />
nothing better than Viddex.” – Glenn Hughes, Video <br />
Producer, Gordian</i>
</div>

</div>
<%# end of marketingdivs class %>

</div>
<%# end of marketingtab class %>

<div class="faqtab">

<div class="faqdivs">

<div style="background-color:#99f7b4; color:#475066; border-radius: 30px; font-size:10px; font-weight:bold; width:40px; padding:3px; text-align:center">
NEW
</div>



<div style="font-size:24px; font-weight:bold; color:#475066; ">
Get Answers to your Viddex FAQs
</div>

<br />

<div style="font-size:13px; line-height:1.9; color:#475066;">
Have questions about Viddex’s video platform, pricing, or onboarding <br />
process? We’ve got the A’s to all your Q’s.
</div>

<br />

<a href="#" style="color:white; background-color:#5e5cfa; border-radius: 2px 2px 2px 2px; font-size:12px; font-weight:bold; padding:10px; width:120px; text-align:center">
Watch the Video
</a>

</div>
<%# end of end of faqdivs class %>

</div>
<%# end of faqtab class %>

<div class="bottomtab">

<div>
<div class="bottomtableft">

<a href="#" style="float:left;">
<%= image_tag "viddexlogo.png", height:60 %>
</a>

<br />

<div style="color:#475066; font-size:20px; font-weight:bold; float:right;">
The Video Platform That <br />
Keeps You Connected
</div>

</div>
<%# end of bottomtableft class %>

<div class="bottomtabright">

<table class="bottomlinks">

<tr style="font-weight:bold;">
<td>Product</td>
<td>Solutions</td>
<td>Company</td>
<td>Resources</td>
</tr>

<tr>
<td class="linkcells"><a href="#" class="linkwords">Free Screen Recorder</a></td>
<td class="linkcells"><a href="#" class="linkwords">Sales</a></td>
<td class="linkcells"><a href="#" class="linkwords">About Us</a></td>
<td class="linkcells"><a href="#" class="linkwords">Knowledge Base <%= image_tag "downloadicon.jpg", height:15 %></a></td>
</tr>

<tr>
<td class="linkcells"><a href="#" class="linkwords">Video Hosting</a></td>
<td class="linkcells"><a href="#" class="linkwords">Marketing</a></td>
<td class="linkcells"><a href="#" class="linkwords">Careers</a></td>
<td class="linkcells"><a href="#" class="linkwords">Fast Forward</a></td>
</tr>

<tr>
<td class="linkcells"><a href="#" class="linkwords">Video Analytics</a></td>
<td class="linkcells"><a href="#" class="linkwords">Corporate Comms</a></td>
<td class="linkcells"><a href="#" class="linkwords">Press</a></td>
<td class="linkcells"><a href="#" class="linkwords">Sales Templates</a></td>
</tr>

<tr>
<td class="linkcells"><a href="#" class="linkwords">See All Features &#10132;</a></td>
<td class="linkcells"><a href="#" class="linkwords">Enterprise</a></td>
<td class="linkcells"><a href="#" class="linkwords">Media Kit</a></td>
<td class="linkcells"><a href="#" class="linkwords">Customer Stories</a></td>
</tr>

<tr>
<td class="linkcells"><a href="#" class="linkwords">Downloads</a></td>
<td class="linkcells"><a href="#" class="linkwords">Financial Services</a></td>
<td class="linkcells"><a href="#" class="linkwords">Contact Us</a></td>
<td class="linkcells"><a href="#" class="linkwords">Partners Directory</a></td>
</tr>

<tr>
<td class="linkcells"><a href="#" class="linkwords">Product Updates</a></td>
<td class="linkcells"><a href="#" class="linkwords">SaaS</a></td>
<td class="linkcells"><a href="#" class="linkwords"></a></td>
<td class="linkcells"><a href="#" class="linkwords">Mic Test</a></td>
</tr>

<tr>
<td class="linkcells"><a href="#" class="linkwords">Intergrations</a></td>
<td class="linkcells"><a href="#" class="linkwords">See All Industries &#10132;</a></td>
<td class="linkcells"><a href="#" class="linkwords"></a></td>
<td class="linkcells"><a href="#" class="linkwords">Cam Test</a></td>
</tr>

<tr>
<td class="linkcells"><a href="#" class="linkwords">Pricing</a></td>
<td class="linkcells"><a href="#" class="linkwords"></a></td>
<td class="linkcells"><a href="#" class="linkwords"></a></td>
<td class="linkcells"><a href="#" class="linkwords">Developers</a></td>
</tr>

<tr>
<td class="linkcells"><a href="#" class="linkwords"></a></td>
<td class="linkcells"><a href="#" class="linkwords"></a></td>
<td class="linkcells"><a href="#" class="linkwords"></a></td>
<td class="linkcells"><a href="#" class="linkwords">Sales Feed</a></td>
</tr>

</table>

</div>
<%# end of bottomlinks class %>

</div>
<%# end of bottomtabright class %>

<div class="bottomfloor">

<div class="floorcomponents">

<div class="floorlogos" align="left">
<a href="#"><%= image_tag "twitterlogo.jpg", height:15 %></a>
<a href="#"><%= image_tag "facebooklogo.jpg", height:15 %></a>
<a href="#"><%= image_tag "instalogo.jpg", height:15 %></a>
<a href="#"><%= image_tag "linkedinlogo.jpg", height:15 %></a>
<a href="#"><%= image_tag "youtubelogo.jpg", height:15 %></a>
</div>
<%# end of floorlogos class %>

<div class="floorright" align="right">
Copyright © 2022 Buildscale, Inc d/b/a Viddex
</div>
<%# end of floorright class %>

<div class="tablediv">
<table>
<tr>
<td class="floorlinks" style="border-right:solid 0.5px; border-color: #a9a9a9;"><a href="#" class="linkwords">Privacy Policy</a></td>
<td class="floorlinks" style="border-right:solid 0.5px; border-color: #a9a9a9;"><a href="#" class="linkwords">Security</a></td>
<td class="floorlinks" style="border-right:solid 0.5px; border-color: #a9a9a9;"><a href="#" class="linkwords">Legal Stuff</a></td>
<td class="floorlinks" style="border-right:solid 0.5px; border-color: #a9a9a9;"><a href="#" class="linkwords">Accessibility</a></td>
<td class="floorlinks"><a href="#" class="linkwords">Sitemap</a></td>
</tr>
</table>
</div>
<%# end of tablediv class %>

</div>
<%# end of floorcomponents class %>

</div>
<%# end of bottomfloor class %>

</div>
<%# end of bottomtab class %>
