
<%= render"shared/navbar" %>

<div class="main-body">
  <%= render"pages/home/homepage/hero" %>
  <%= render"pages/home/homepage/first_tab" %>
  <%= render"pages/home/homepage/second_tab" %>
  <%= render"pages/home/homepage/third_tab" %>
  <%= render"pages/home/homepage/fourth_tab" %>
  <%= render"pages/home/homepage/fifth_tab" %>
  <%= render"pages/home/homepage/sixth_tab" %>
</div>

  <%= render"pages/home/homepage/footer" %>
