<%# <%= render"shared/navbar" %>

<%# <div class="main-body">

<%= render"pages/pricing/pricing_one" %>
<%# <%= render"pages/pricing/pricing_two" %>

<%# </div> %>

<%# <%= render"pages/home/homepage/footer" %>

<%= render"pages/pricing/saasnavpricing" %>
