<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

<div style="overflow:auto; height:77vh;">
  <%= simple_form_for [@user, @project], html: { class: "form-container-50 center-auto"} do |f| %>
    <div class="flex space-between">
      <div class= "form-input-100">
        <%# <%= f.association :template, collection: @templates, as: :select  %>
        <p><strong>Project title:</strong></p>
        <%= f.input :title, label: false, placeholder: "eg. Video for Elon @ Tesla", input_html: { class: "form-input-100" } %>
      </div>
      <div class= "form-input-100">
        <p><strong>Prospect first name:</strong></p>
        <%= f.input :prospect_first, label: false, placeholder: "eg. Elon", input_html: { class: "form-input-100" } %>
      </div>
    </div>
    <p><strong>Videos:</strong></p>

      <div class="flex space-between mb-16">
        <!-- Button trigger modal -->
        <% video_number = 1 %>
        <% 2.times do %>
          <button type="button" class="form-btn-25" id="thumbnail-button<%=video_number%>" data-bs-toggle="modal" data-bs-target="#popupModal<%=video_number%>">
            Video <%= video_number %> <br>
            <i class="fa-solid fa-circle-plus"></i>
          </button>
          <!-- Modal -->
          <div class="modal fade" id="popupModal<%=video_number%>" tabindex="-1" aria-labelledby="popupModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="popupModalLabel">Select a video</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body flex space-between wrap">
                    <% @user.videos.each do |video| %>
                      <div>
                        <!--  <ul class="thumbnail_select " onClick="choosevid<%=video_number%>(this)" data-bs-dismiss="modal" data-value="<%=video.id %>" id="<%=video.title%>">-->
                       <ul class="thumbnail_select " onClick="chooseVideo(<%=video_number%>, this)" data-bs-dismiss="modal" data-value="<%=video.id %>" id="<%=video.title%>">
                          <img src="<%= video.service_url%>", id="thumbnail-<%= video.id %>", class="thumbnails"><br />
                          <%= video.title %>
                        </ul>
                      </div>
                    <% end %>
                <%= f.association :videos, as: :hidden, collection: @selectedVideos, input_html: { id: "selected_video#{video_number}", multiple: true} %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <%# end of modal %>
          <% video_number += 1 %>
        <% end %>
        <%# end of video select %>
      </div>

      <%# Audio %>
      <div class="flex space-between mb-16">
        <div class="flex-column w-48">
          <p><strong>Audio: (optional)</strong></p>
          <button type="button" id="audio-select-btn"class="flex space-between form-control" data-bs-toggle="modal" data-bs-target="#audioModal">
            None selected
            <i class="bi bi-chevron-down"></i>
          </button>
        </div>
        <%# Thumbnail/background %>
        <div class="flex-column w-48">
          <p><strong>Thumbnail: (optional)</strong></p>
          <button type="button" id="thumb-select-btn"class="flex space-between form-control" data-bs-toggle="modal" data-bs-target="#thumbModal">
            None selected
            <i class="bi bi-chevron-down"></i>
          </button>
        </div>
      </div>
      <%# audio modal %>
      <div class="modal fade" id="audioModal" tabindex="-1" aria-labelledby="audioModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="audioModalLabel">Select audio overlay</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body flex space-between wrap">
                <% @user.audios.order(title: :asc).each do |audio| %>
                  <div>
                    <ul class="audio_select " onClick="chooseaudio(this)" data-bs-dismiss="modal" data-value="<%=audio.id %>" id="<%=audio.title%>">
                      <button class="btn btn-primary"type="button" id="audio-select"><%= audio.title %></button>
                    </ul>
                  </div>
                <% end %>
            <%= f.association :audios, as: :hidden, collection: @user_audios, input_html: { id: "selected_audio", multiple: true} %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <%# end of modal %>
        <%# thumbnail modal %>
        <div class="modal fade" id="thumbModal" tabindex="-1" aria-labelledby="thumbModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="thumbModalLabel">Select a thumbnail</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body flex space-between wrap">
                    <% @user.backgrounds.each do |bg| %>
                      <div>
                        <ul class="thumbnail_select " onClick="choosethumb(this)" data-bs-dismiss="modal" data-value="<%=bg.id %>" id="<%=bg.title%>">
                          <img src="<%= bg.card_path%>", id="thumbnail-select %>", class="thumbnails"><br />
                          <%= bg.title %>
                        </ul>
                      </div>
                    <% end %>
                <%= f.association :backgrounds, as: :hidden, collection: @user_backgrounds, input_html: { id: "selected_thumb", multiple: true} %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <%# end of modal %>

        <%# </div> %>
            <div id="switch-default" class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" disabled>
              <label class="form-check-label" for="flexSwitchCheckDefault">Include a message?</label>
            </div>

            <div class="hidden message-options">

              <p><strong>Message Overlay:</strong></p>
              <%= f.input :message_body, label: false,
              placeholder:
  "Hi Elon,
Are your SDR's underperforming?",
              input_html: { multiple: false, class: "form-input-100" }%>


              <p><strong>Font:</strong></p>
              <!-- Button trigger modal -->
              <button type="button" id="font-select-btn"class="flex space-between form-control" data-bs-toggle="modal" data-bs-target="#fontModal">
                Permanent Marker
                <i class="bi bi-chevron-down"></i>
              </button><br>
              <!-- Modal -->
              <div class="modal fade" id="fontModal" tabindex="-1" aria-labelledby="fontModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="fontModalLabel">Select your font</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <% font_number = 0 %>
                      <% 10.times do %>
                        <ul onClick="choosefont(this)" data-bs-dismiss="modal" data-value="<%=Project::FONT[font_number] %>">
                          <button type="button" class="btn-font"id="fontType<%= Project::FONT[font_number] %>">
                            <h4 style="font-family:<%= Project::FONT[font_number] %>"><%= Project::FONT[font_number] %></h4>
                          </button>
                        </ul>
                        <% font_number +=1 %>
                      <% end %>
                      <%= f.input :font, as: :hidden, collection: @selectedFont, input_html: { id: "selected_font", multiple: false} %>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End of modal -->

              <%# <%= f.input :font, label: false, collection: Project::FONT, input_html: {class: "form-input-100" }  %>
              <div class="flex space-between">
                <div>
                  <p><strong>Font Opacity:</strong></p>
                  <%= f.input :opacity, label: false , input_html: {class: "form-input-100" } %>
                </div>
                <div>
                  <p><strong>Font Size:</strong></p>
                  <%= f.input :font_size, label: false, input_html: {class: "form-input-100" } %>
                </div>
              </div>
            </div>

      <% if @user.meeting_link? %>
        <div class="form-check form-switch mb-16"style="padding-left:1.0em">
          <%= f.input :include_meeting_link, as: :boolean, class: "form-check-input blue-switch" %>
        </div>
      <% else %>
        <div class="form-check form-switch mb-16">
          <input class="form-check-input" type="checkbox" id="flexSwitchCheckDisabled" disabled>
          <label class="form-check-label mr10"
            for="flexSwitchCheckDisabled">Include meeting link (disabled) </label><i class="bi bi-question-circle" data-bs-toggle="tooltip" data-bs-placement="right" title="You haven't provided a meeting link. Update it in the dashboard first"></i>
        </div>
      <% end %>

      <div class="flex justify-start items-center pt-8">
        <div class="flex justify-center items-center h-10 rounded-lg" style="width:100%;border-radius:5px">
          <%= f.submit "Generate project", class:"btn btn-primary w-100" %>
        </div>

  </div>
<% end %>

<script>

  var selectedVideos = [];

  var buttons = [
    document.getElementById("thumbnail-button1"),
    document.getElementById("thumbnail-button2")
    // document.getElementById("thumbnail-button3")
  ];

  var selectedFont = ""
  var fontbtn = document.getElementById("font-select-btn")
  var thumbbtn = document.getElementById("thumb-select-btn")
  var audiobtn = document.getElementById("audio-select-btn")

  document.addEventListener('change', function(event) {
  if (event.target.matches('#flexSwitchCheckDefault')) {
    var messageOptions = document.getElementsByClassName("message-options");
    if (event.target.checked) {
      for (var i = 0; i < messageOptions.length; i++) {
        messageOptions[i].classList.remove("hidden");
      }
    } else {
      for (var i = 0; i < messageOptions.length; i++) {
        messageOptions[i].classList.add("hidden");
      }
    }
  }
}, false);



  // Call the toggleSwitches function when the thumbnail select box changes
  document.querySelector("#thumb-select-btn").addEventListener("change", function() {
    console.log("selected_thumb changed");
    toggleSwitches();
  });

  // Call the toggleSwitches function on page load to set the initial visibility of the switches
  toggleSwitches();


  function choosefont(element) {
    var fontId = element.dataset.value;
    document.getElementById("selected_font").value = fontId;
    fontbtn.innerHTML = element.innerText.trim() + "<i class='bi bi-chevron-down'></i>";
    // selectedFont = fontId;
  }



  function chooseaudio(element) {
    var audioId = element.dataset.value;
    document.getElementById("selected_audio").value = audioId;
    audiobtn.innerHTML = element.innerText.trim() + "<i class='bi bi-chevron-down'></i>";
  }

  // var button1 = document.getElementById("thumbnail-button1");
  // var button2 = document.getElementById("thumbnail-button2");
  // var button3 = document.getElementById("thumbnail-button3");

  // function choosevid1(element) {

  //   var videoId = element.dataset.value;
  //   document.getElementById("selected_video1").value = videoId;
  //   button1.innerHTML = element.innerText.trim() +  "<br /> <i class='fa fa-chevron-down'></i>";
  //   selectedVideos[0] = videoId;
  // }

  // function choosevid2(element) {

  //   var videoId = element.dataset.value;
  //   document.getElementById("selected_video2").value = videoId;
  //   button2.innerHTML = element.innerText.trim() +  "<br /> <i class='fa fa-chevron-down'></i>";
  //   selectedVideos[1] = videoId;
  // }

  // function choosevid3(element) {

  //   var videoId = element.dataset.value;
  //   document.getElementById("selected_video3").value = videoId;
  //   button3.innerHTML = element.innerText.trim() +  "<br /> <i class='fa fa-chevron-down'></i>";
  //   selectedVideos[2] = videoId;
  // }



  function choosethumb(element) {
    var thumbId = element.dataset.value;
    document.getElementById("selected_thumb").value = thumbId;
    thumbbtn.innerHTML = element.innerText.trim() + "<i class='bi bi-chevron-down'></i>";
    document.getElementById('flexSwitchCheckDefault').disabled = false;
  }

  function chooseVideo(index, element) {
  var videoId = element.dataset.value;
  document.getElementById("selected_video" + index).value = videoId;
  buttons[index - 1].innerHTML = element.innerText.trim() + "<br /> <i class='fa fa-chevron-down'></i>";
  selectedVideos[index - 1] = videoId;
  }

</script>
