<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

<div class="page-container pt-8">

  <%= simple_form_for [@user, @project] do |f| %>

      <div style="width:400px">
        <div class="flex space-between">
          <p>Title:</p>
          <%= f.input :title, label: false, placeholder: "eg. Video for Elon @ Tesla", input_html: { class: "form-input-medium" } %>
        </div>

        <p>Videos:</p>

        <div class="flex space-between">
          <% video_number = 1 %>
          <% 3.times do %>
            <button type="button" id="thumbnail-button<%=video_number%>" onClick="showvids()">Video <%=video_number%><br>
              <i class="fa-solid fa-circle-plus"></i>
            </button>
            <ul id="dropdown-menu" class="dropdown-menu-original">
              <% @user.videos.each do |video| %>
                <div>
                  <li class="thumbnail_select" onClick="choosevid(this)" data-value="<%=video.id %>" id="<%=video.title%>"><img src="<%= video.thumbnail%>", id="thumbnail-<%= video.id %>", class="thumbnails"><br />
                  <%= video.title %></li>
                </div>
              <% end %>
              <%= f.association :videos, as: :hidden, collection: @user.videos, input_html: { id: "selected_video", multiple: true} %>
            </ul>
            <% video_number += 1 %>
          <% end %>
        </div>


        </div>
          <%# <%= f.association :videos, collection: @user.videos, label: false, placeholder: "Video 3", input_html: {  class: "form-input-medium" } %>

        <%# <div class="flex space-between">
          <p>Background:</p>
          <%= f.association :backgrounds, collection: @user.backgrounds,
            label: false,
            :value => @user_backgrounds, as: :select,
            input_html: { multiple: false, class: "form-input-medium" }%>
        <%# </div> %>
        <div class="flex space-between">
          <p>Audio Overlay:</p>
          <%= f.association :audios, collection: @user.audios,
            label: false,
            :value => @user_audios, as: :select,
            input_html: {  class: "form-input-medium" }%>
        </div>
        <div class="flex space-between">
          <div class="flex-column">
            <%= f.input :message_body, label: false,placeholder:
            "Message overlay" %>
          </div>
        </div>
      <div class="accordion" id="accordionPanelsStayOpenExample">
         <div class="accordion-item" style="border-radius:10px">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
              Message options
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
              <div >
                <div class="flex space-between">
                  <p>Font:</p>
                  <%= f.input :font, label: false, collection: Project::FONT, input_html: {class: "form-input-small" }  %>
                </div>
                <div class="flex space-between">
                  <p>Font Opacity:</p>
                  <%= f.input :opacity, label: false , input_html: {class: "form-input-small" } %>
                </div>
                <div class="flex space-between">
                  <p>Font Size:</p>
                  <%= f.input :font_size, label: false, input_html: {class: "form-input-small" } %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <%= f.input :include_meeting_link, as: :boolean %>

      <div class="flex justify-start items-center pt-8">
        <div class="flex justify-center items-center h-10 rounded-lg" style="width:100%;border-radius:5px">
          <%= f.submit "Generate", class: "nav-link lb-btn", style: "width:100%;border:none" %>
        </div>

  </div>
<% end %>

<script>

  var button1 = document.getElementById("thumbnail-button1");
  var button2 = document.getElementById("thumbnail-button2");
  var button3 = document.getElementById("thumbnail-button3");

  var thumbnails = document.getElementsByClassName("thumbnails");
  var menu = document.getElementById("dropdown-menu");

  function showvids() {
    menu.classList.toggle('showthumbs');
  };

  function choosevid(element) {

    var videoId = element.dataset.value;
    document.getElementById("selected_video").value = videoId;
    // if want to save three videos will need to be separated by commas can do so when generating or in the

    button1.innerHTML = element.innerText.trim() +  "<br /> <i class='fa fa-chevron-down'></i>";
    button2.innerHTML = element.innerText.trim() +  "<br /> <i class='fa fa-chevron-down'></i>";
    button3.innerHTML = element.innerText.trim() +  "<br /> <i class='fa fa-chevron-down'></i>";

    menu.classList.toggle('showthumbs');
  }

</script>
