 <div class="flex flex-wrap content-start overflow-auto " style="justify-content:flex-start">
    <div class="flex flex-wrap content-start overflow-auto scroll-container" style="justify-content:space-between">
      <% @user.projects.order(:id).reverse.each do |project| %>
        <div class="project-card">
          <div class="image-container flex-column">
          <p><%= project.title %></p>
            <div class="flex space-between">
              <button type="button" class="btn btn-outline-primary" id="copy-button">Copy</button>
              <div class="dropdown">
                <button class="bi bi-three-dots-vertical mr10" type="button"                  id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false"
                  style="background-color:transparent;border-color:transparent">
                </button>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                  <li><a class="dropdown-item bi bi-binoculars mr10" href="/watch/<%= project.public_uid %>"> View</a></li>
                  <li><a class="dropdown-item bi bi-pencil-square" href="/terminal/<%= @user.public_uid %>/projects/<%= project.public_uid%>/edit"> Edit</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a data-turbo-method="delete" class="dropdown-item bi bi-trash"data-turbo-confirm="Are you sure?" href="/terminal/<%= @user.public_uid %>/projects/<%= project.public_uid%>"> Delete</a></li>
                </ul>
              </div>
            </div>
            <% url_friendly ={
              "?"	=> "%3f",
              '@'	=> '%40',
              '!'	=> '%21',
              '"'	=> '%22',
              '#'	=> '%23',
              '$'	=> '%24',
              '%'	=> '%25',
              '&'	=> '%26',
              '/'	=> '%2f',
              '.'	=>'%2e',
              '-'	=>'%2d',
              ','	=>'%2c',
            } %>
            <% if project.message_body?
                url_message_a = project.message.gsub(Regexp.union(url_friendly.keys), url_friendly)+ "%0d"+ project.message_body.gsub(Regexp.union(url_friendly.keys), url_friendly)
              else
                url_message_a = project.message.gsub(Regexp.union(url_friendly.keys), url_friendly)
              end%>

            <%# <% message_params = "g_north," + "x_" + project.background.x_axis.to_s + ",y_" + project.background.y_axis.to_s +
                          ",w_" + project.background.width.to_s + ",c_fit,a_" + project.background.angle.to_s +
                          ",o_" + project.opacity.to_s + ",l_text:" + project.font + "_" +
                          project.font_size.to_s + ":" + url_message_a.to_s%>
              <a id="image-link" href="https://www.viddex.io/watch/<%= project.public_uid %>">
                <div id="image">
                  <%= cl_image_tag(project.video.file.key+".gif", resource_type: "video",
                    class: "d-block rounded-lg toprd5px",
                    :transformation=>[
                      # video params
                      {angle: project.video.rotation},
                      {width: 280, crop: "scale", :end_offset=>"4", :start_offset=>"1"},
                      # overlay play btn
                      {:overlay=>"play-button-icon-png-18919_ssamfy", :opacity=>60, :width=>67, :crop=>"scale"},
                      # message params
                      {angle: -6 || project.background.angle,
                      gravity: "north",
                      :overlay=>{
                        font_family: project.font,
                        font_size: project.font_size,
                        text: project.message + "%0d"+ project.message_body || project.message},
                        opacity: project.opacity.to_s,
                        # need to update first option before || to video.params
                        width: 300 || project.background.width.to_s,
                        x: -250 || project.background.x_axis.to_s,
                        y: 380 || project.background.y_axis.to_s,
                        crop: "fit",
                        },
                      # background params
                      if project.background_id?
                      {underlay: Rails.env+":"+project.background.photo.key,
                        width: 280, crop: "scale"}
                      else
                      end
                    ]
                    )%>

                </div>
              </a>
            </div>
          </div>
      <% end %>
      </div>
      </div>
