<div class="flex flex-wrap content-start overflow-auto " style="justify-content:flex-start">
    <div class="flex flex-wrap content-start overflow-auto scroll-container" style="justify-content:space-between">
      <% @user.projects.order(:id).reverse.each do |project| %>
      <div >
        <div class="project-card" style="margin-bottom:20px;margin-right:20px">
          <p style="margin-left:5px">  <%= project.title %></p>
          <%= @url_message %>
          <div class="flex" id="video_box">

<% url_friendly ={
    "?"	=> "%3f",
    '@'	=> '%40',
    '!'	=> '%21',
    '"'	=> '%22',
    '#'	=> '%23',
    '$'	=> '%24',
    '%'	=> '%25',
    '&'	=> '%26',
    '/'	=> '%2f',
    '.'	=>'%2e',
    '-'	=>'%2d',
    ','	=>'%2c',
} %>

<% if project.message_body?
      url_message_a = project.message.gsub(Regexp.union(url_friendly.keys), url_friendly)+ "%0d"+ project.message_body.gsub(Regexp.union(url_friendly.keys), url_friendly)
    else
      url_message_a = project.message.gsub(Regexp.union(url_friendly.keys), url_friendly)
    end%>

            <% message_params = "g_north," + "x_" + project.background.x_axis.to_s + ",y_" + project.background.y_axis.to_s +
                    ",w_" + project.background.width.to_s + ",c_fit,a_" + project.background.angle.to_s +
                    ",o_" + project.opacity.to_s + ",l_text:" + project.font + "_" +
                    project.font_size.to_s + ":" + url_message_a.to_s%>
            <div class="copy-image">
              <img src="https://res.cloudinary.com/dth8lnhas/video/upload/c_scale,dl_121,du_0.1,pg_1,so_3,w_1280/a_<%=project.video.rotation %>/c_scale,u_<%= Rails.env %>:<%= project.background.photo.key %>,w_1280/<%= message_params %>/c_scale,l_play-button-icon-png-18919_ssamfy,o_53,w_349/v1665164526/<%= Rails.env %>/<%= project.video.file.key %>.gif" alt="Video"
                  width="280" height="157" > <br>
            </div>


          </div>
              <div class="flex space-between">
              <p style="margin-left:5px">https://www.viddex.io/watch/<%= project.public_uid %> </p>

                <div class="dropdown">
                  <button class="bi bi-three-dots-vertical mr10" type="button"                  id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false"
                    style="background-color:transparent;border-color:transparent">
                  </button>
                  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                    <li><a class="dropdown-item bi bi-binoculars mr10" href="/watch/<%= project.public_uid %>"> View</a></li>
                    <li><a class="dropdown-item bi bi-pencil-square" href="/terminal/<%= @user.public_uid %>/projects/<%= project.public_uid%>/edit"> Edit</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a data-turbo-method="delete" class="dropdown-item bi bi-trash"data-turbo-confirm="Are you sure?" href="/terminal/<%= @user.public_uid %>/projects/<%= project.public_uid%>"> Delete</a></li>
                  </ul>
                </div>
              </div>
        </div>
      </div>


      <div class="flex" style="flex-direction:column">
      </div>

      <% end %>
    </div>



    </div>
</div>
