 <div class="flex flex-wrap content-start overflow-auto " style="justify-content:flex-start">
    <div class="flex flex-wrap content-start overflow-auto scroll-container" style="justify-content:space-between">
      <% @user.projects.order(:id).reverse.each do |project| %>
        <div class="project-card">
          <div class="image-container flex-column">
          <p><%= project.title %></p>
            <div class="flex space-between">
              <button type="button" class="btn btn-outline-primary" id="copy-button">Copy</button>
              <div class="dropdown">
                <button class="bi bi-three-dots-vertical mr10" type="button"                  id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false"
                  style="background-color:transparent;border-color:transparent">
                </button>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                  <li><a class="dropdown-item bi bi-binoculars mr10" href="/watch/<%= project.public_uid %>"> View</a></li>
                  <li><a class="dropdown-item bi bi-pencil-square" href="/terminal/<%= @user.public_uid %>/projects/<%= project.public_uid%>/edit"> Edit</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a data-turbo-method="delete" class="dropdown-item bi bi-trash"data-turbo-confirm="Are you sure?" href="/terminal/<%= @user.public_uid %>/projects/<%= project.public_uid%>"> Delete</a></li>
                </ul>
              </div>
            </div>

              <% if project.video.angle?
                  project_angle = project.video.angle
                elsif project.background.angle?
                  project_angle = project.background.angle
                end%>

              <% if project.background_id?
                  text_box_width = project.background.width/3
                  text_box_x = project.background.x_axis/3
                  text_box_y = project.background.y_axis/3
                else
                  text_box_width = project.video.text_width/3
                  text_box_x = project.video.x_axis/3
                  text_box_y = project.video.y_axis/3
                end%>


              <a id="image-link" href="https://www.viddex.io/watch/<%= project.public_uid %>">
                <div id="image">
                  <%= cl_image_tag(project.video.file.key+".gif", resource_type: "video",
                    class: "image-100",
                    :transformation=>[
                      # video params
                      {angle: project.video.rotation},
                      {width: 426, crop: "scale", :end_offset=>"4", :start_offset=>"1"},
                      # overlay play btn
                      {:overlay=>"play-button-icon-png-18919_ssamfy", :opacity=>60, :width=>67, :crop=>"scale"},
                      # message params
                      {angle: project_angle,
                      gravity: "north_west",
                      :overlay=>{
                        font_family: project.font,
                        font_size: project.font_size,
                        text: project.message + "%0d"+ project.message_body || project.message},
                        opacity: project.opacity.to_s,
                        width: text_box_width,
                        x: text_box_x,
                        y: text_box_y,
                        crop: "fit",
                        },
                      # background params
                      if project.background_id?
                      {underlay: Rails.env+":"+project.background.photo.key,
                        width: 426, crop: "scale"}
                      else
                      end
                    ]
                    )%>

                </div>
              </a>
            </div>
          </div>
      <% end %>
      </div>
      </div>
