<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">


<div class="flex" style="width:47%">
  <%= simple_form_for [@user, @project], html: { class: "form-container-100", style: "overflow: auto;height: 77vh;"} do |f| %>
    <p><strong>Title:</strong></p>
    <%= f.input :title, label: false, placeholder: "eg. Video for Elon @ Tesla", input_html: { class: "form-input-100" } %>
    <p><strong>Videos:</strong></p>
    <% video_number = 1 %>
        <%# video buttons %>
        <div class="flex space-between mb-16">
          <% 3.times do %>
            <button class="form-btn-25" type="button" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Unable to edit videos. Please create a new project.">
              <%= @project.videos[video_number-1].title%> <br>
              <i class="bi bi-camera-video-off-fill"></i>
            </button>

            <% video_number += 1 %>
          <% end %>
        </div>

        <div class="flex space-between">
          <%# Audio %>
          <div class="flex-column w-48">
            <p><strong>Audio: (optional)</strong></p>
            <div class="flex space-between mb-16">
              <button type="button" id="audio-select-btn"class="flex space-between form-control" data-bs-toggle="modal" data-bs-target="#audioModal">
                <% if @project.audios.exists? %>
                  <%= @project.audios[0].title%>
                <% else %>
                  None selected
                <% end %>
                <i class="bi bi-chevron-down"></i>
              </button>
              <button type="button" class="form-bin-btn">
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </div>
          <%# Thumbnail/background %>
          <div class="flex-column w-48">
            <p><strong>Thumbnail: (optional)</strong></p>
            <div class="flex space-between mb-16">
              <button type="button" id="thumb-select-btn"class="flex space-between form-control" data-bs-toggle="modal" data-bs-target="#thumbModal">
                <% if @project.backgrounds.exists? %>
                  <%= @project.backgrounds[0].title %>
                <% else %>
                  None selected
                <% end %>
                <i class="bi bi-chevron-down"></i>
              </button>
              <button type="button" class="form-bin-btn">
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </div>
        </div>
        <%# audio modal %>
        <div class="modal fade" id="audioModal" tabindex="-1" aria-labelledby="audioModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="audioModalLabel">Select audio overlay</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body flex space-between wrap">
                  <% @user.audios.each do |audio| %>
                    <div>
                      <ul class="audio_select " onClick="chooseaudio(this)" data-bs-dismiss="modal" data-value="<%=audio.id %>" id="<%=audio.title%>">
                        <button type="button" id="audio-select"><%= audio.title %></button>
                      </ul>
                    </div>
                  <% end %>
              <%= f.association :audios, as: :hidden, collection: @user_audios, input_html: { id: "selected_audio", multiple: true} %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <%# end of modal %>

        <%# thumbnail modal %>
        <div class="modal fade" id="thumbModal" tabindex="-1" aria-labelledby="thumbModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="thumbModalLabel">Select a thumbnail</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body flex space-between wrap">
                    <% @user.backgrounds.each do |bg| %>
                      <div>
                        <ul class="thumbnail_select " onClick="choosethumb(this)" data-bs-dismiss="modal" data-value="<%=bg.id %>" id="<%=bg.title%>">
                          <img src="<%= bg.service_url%>", id="thumbnail-select %>", class="thumbnails"><br />
                          <%= bg.title %>
                        </ul>
                      </div>
                    <% end %>
                <%= f.association :backgrounds, as: :hidden, collection: @user_backgrounds, input_html: { id: "selected_thumb", multiple: false} %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <%# end of modal %>

        <%# Message switch %>
        <div class="form-check form-switch">
          <% if @project.message_body? %>
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckCheckedDisabled" checked disabled>
            <label class="form-check-label" for="flexSwitchCheckCheckedDisabled">Include a message?</label>
          <% else %>
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Include a message?</label>
          <% end %>
        </div>

        <div class=" message-options">

              <p style="margin-top:16px"><strong>Message Overlay:</strong></p>
              <%= f.input :message_body, label: false,
              placeholder:
  "Hi Elon,
  Are your SDR's underperforming?",
              input_html: { multiple: false, class: "form-input-100" }%>


              <p><strong>Font:</strong></p>
              <!-- Button trigger modal -->
              <button type="button" id="font-select-btn"class="flex space-between form-control" data-bs-toggle="modal" data-bs-target="#fontModal">
                <%= @project.font %>
                <i class="bi bi-chevron-down"></i>
              </button><br>
              <!-- Modal -->
              <div class="modal fade" id="fontModal" tabindex="-1" aria-labelledby="fontModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="fontModalLabel">Select your font</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <% font_number = 0 %>
                      <% 10.times do %>
                        <ul onClick="choosefont(this)" data-bs-dismiss="modal" data-value="<%=Project::FONT[font_number] %>">
                          <button type="button" class="btn-font"id="fontType<%= Project::FONT[font_number] %>">
                            <h4 style="font-family:<%= Project::FONT[font_number] %>"><%= Project::FONT[font_number] %></h4>
                          </button>
                        </ul>
                        <% font_number +=1 %>
                      <% end %>
                      <%= f.input :font, as: :hidden, collection: @selectedFont, input_html: { id: "selected_font", multiple: false} %>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End of modal -->

              <%# <%= f.input :font, label: false, collection: Project::FONT, input_html: {class: "form-input-100" }  %>
              <div class="flex space-between">
                <div class="w-48">
                  <p><strong>Font Opacity:</strong></p>
                  <%= f.input :opacity, label: false , input_html: {class: "form-input-100" } %>
                </div>
                <div class="w-48">
                  <p><strong>Font Size:</strong></p>
                  <%= f.input :font_size, label: false, input_html: {class: "form-input-100" } %>
                </div>
              </div>
            </div>
        <%# meeting link %>
        <% if @user.meeting_link? %>
          <div class="form-check form-switch"style="padding-left:1.0em">
            <%= f.input :include_meeting_link, as: :boolean, class: "form-check-input blue-switch" %>
          </div>
        <% else %>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDisabled" disabled>
            <label class="form-check-label"
              for="flexSwitchCheckDisabled">Include meeting link  </label><i class="bi bi-question-circle" data-bs-toggle="tooltip" data-bs-placement="right" title="You haven't provided a meeting link. Update it in the dashboard first"></i>
          </div>
        <% end %>


      <div class="flex justify-start items-center pt-8">
        <div class="flex justify-center items-center h-10 rounded-lg" style="width:100%;border-radius:5px">
          <%= f.submit "Update and Preview", class: "btn btn-primary w-100" %>
        </div>
      </div>
        <% end %>
</div>

<script>

  var selectedFont = ""
  var fontbtn = document.getElementById("font-select-btn")
  var thumbbtn = document.getElementById("thumb-select-btn")
  var audiobtn = document.getElementById("audio-select-btn")


  document.addEventListener('change', function(event) {
  if (event.target.matches('#flexSwitchCheckDefault')) {
    var messageOptions = document.getElementsByClassName("message-options");
    if (event.target.checked) {
      for (var i = 0; i < messageOptions.length; i++) {
        messageOptions[i].classList.remove("hidden");
      }
    } else {
      for (var i = 0; i < messageOptions.length; i++) {
        messageOptions[i].classList.add("hidden");
      }
    }
  }
}, false);
  function choosethumb(element) {
    var thumbId = element.dataset.value;
    document.getElementById("selected_thumb").value = thumbId;
    thumbbtn.innerHTML = element.innerText.trim() + "<i class='bi bi-chevron-down'></i>";
  }
  function choosefont(element) {
    var fontId = element.dataset.value;
    document.getElementById("selected_font").value = fontId;
    fontbtn.innerHTML = element.innerText.trim() + "<i class='bi bi-chevron-down'></i>";
    selectedFont = fontId;
  }
  function chooseaudio(element) {
    var audioId = element.dataset.value;
    document.getElementById("selected_audio").value = audioId;
    audiobtn.innerHTML = element.innerText.trim() + "<i class='bi bi-chevron-down'></i>";
  }



</script>
