<div class="page-container pt-8">

  <%= simple_form_for [@user, @project] do |f| %>

      <div class="flex" style="justify-content:space-between">
        <div>
            <%= f.association :background, collection: @user.backgrounds,
                item_wrapper_tag: :div,
                item_wrapper_class: "image-select",
                prompt: "Select background", label: false,
                :inline_label => false,
                :include_blank => false,
                :label_method => lambda { |bg| "#{cl_image_tag(render "backgrounds/cards" )},
                #{bg.title}".html_safe }
                 %>
        </div>
        <div >
            <%= f.association :video, collection: @user.videos,  prompt: "Select video", label: false, :value => @user_videos, as: :select, input_html: { multiple: false } %>
        </div>
      </div>
      <div>
      <div class="flex"style="justify-content:space-between">
        <%= f.input :prospect_first, label: "Prospect first name", placeholder: "" %>
        <%= f.input :prospect_last %>
      </div>
      <div class="flex"style="justify-content:space-between">
        <div class="flex" style="flex-direction:column">
          <%= f.input :prospect_company %>
          <%= f.input :prospect_email %>
        </div>
            <div class="flex-column">
              <%= f.input :message,input_html: { class: "message_styling" },placeholder:
              "Hi #{user.first_name.capitalize} "%>
              <%= f.input :message_body, label: false,placeholder:
              "Want to increase email response rates? " %>
            </div>
      </div>
      </div>

      <div class="accordion" id="accordionPanelsStayOpenExample">
         <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
              Advanced options
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
              <div class="flex"style="justify-content:space-between">
                <%= f.input :font, collection: Project::FONT  %>
                <%= f.input :opacity, label: "Font opacity" %>
                <%= f.input :font_size %>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="flex justify-start items-center pt-8">
        <div class="flex justify-center items-center h-10 rounded-lg bg-black" style="width:100%;border-radius:5px">
          <%= f.submit "Generate", class: "text-xl mx-8 text-black", style: "width:100%;border-radius:5px" %>
        </div>


  </div>
<% end %>
