<div class="page-wrap">
  <%= render"shared/terminalnav" %>
  <div class="flex">
    <%= render "shared/sidebar" %>
    <div class="flex-column"style="width:100%; margin: 20px; ">
      <%= render "shared/pagehead" %>
      <%= render "projects/pagetabs" %>
      <div class="flex space-between">
        <%= render "projects/editform" %>
        <div style="margin-left:50px" type="button" data-bs-toggle="modal" data-bs-target=<%= "#exampleModal#{@project.public_uid}"%>>
          <%# <% render "projects/index/projectgif" %>
          <img style="max-width:95%"src="<%= @project.videos[0].service_url %>" alt="project image">
          <p>create link to modal for full video</p>
        </div>
      </div>
    </div>
  </div>
</div>
