<div class="vh100">
  <%= render"shared/terminalnav" %>
  <div class="flex">
    <%= render "shared/sidebarbs" %>
    <div class="flex-column content-container">
      <%= render "shared/pagehead" %>
      <%= render "projects/pagetabs" %>
      <div class="flex space-between">
        <%= render "projects/editform" %>
        <div style="margin-right:50px;width:550px">
          <%= render "projects/projectthumbnail"%>
        </div>
      </div>
    </div>
  </div>
</div>
