<div class="vh100">
  <%= render"shared/terminalnav" %>
  <div class="flex">
    <%= render "shared/sidebarbs" %>
    <div class="flex-column content-container">
      <%= render "shared/pagehead" %>
      <%= render "projects/pagetabs" %>
      <div data-bs-spy="scroll">
        <%= render "projects/index/table", user: @user, projects: @user.projects %>
      </div>
    </div>
  </div>
</div>
