<div class="page-wrap">
  <%= render"shared/terminalnav" %>
  <div class="flex">
    <%= render "shared/sidebar" %>
    <div class="flex-column"style="width:100%; margin: 20px; ">
      <%= render "shared/pagehead" %>
      <%= render "projects/pagetabs" %>
      <div class="flex">
        <%= render "projects/camsform", user: @user, projects: @user.projects %>
        <%# <div id="video_box">
        </div> %>
      </div>
    </div>
  </div>
</div>
