<!DOCTYPE html>
<html>
<head>
  <% content_for :title do %>
    <title>Viddex | <%= @project.title %> </title>
  <% end %>
</head>
<body>
<%= render  "projects/show/shownav"%>
  <div class="flex" style="justify-content:center">
    <div class="vs-container">
      <h1><%= @project.title %> </h1>
        <%= render "projects/projectfile"%>
        <% if @project.include_meeting_link? %>
          <a class="btn btn-outline-primary btn-ps"  href="<%= @project.user.meeting_link %>" target="_blank" role="button">
          <i class="bi bi-calendar-week mr10"></i>
          Book a meeting with <%= @project.user.first_name.capitalize || @project.user.full_name.capitalize%>
          </a>
        <% end %>
    </div>
  </div>

</body>
</html>
