<div class="vh100">
  <%= render"shared/terminalnav" %>
  <div class="flex">
    <%= render "shared/sidebarbs" %>
    <div class="flex-column content-container">
      <%# <%= render "shared/pagehead" %>
      <%= render "projects/pagetabs" %>
      <%= render "projects/forms/select", user: @user, projects: @user.projects %>
    </div>
  </div>
</div>
