

<%= render  "projects/show/shownav"%>
  <img src="https://img.freepik.com/premium-vector/abstract-white-grey-gradient-geometric-pattern-background-modern-graphic-design_120819-2093.jpg?w=1380"
            alt="background image" class="img-showbg">
  <div class="flex" style="justify-content:center">
    <div class="vs-container">
      <h1><%= @project.title %> </h1>
      <%= render "projects/projectvideo"%>

      <% if @project.user.meeting_link? %>
        <a class="btn btn-primary btn-ps"  href="<%= @project.user.meeting_link %>" target="_blank" role="button">
        <i class="bi bi-calendar-week mr10"></i>
        Book a meeting with <%= @project.user.first_name.capitalize || @project.user.full_name.capitalize%>
      <% end %>
        </a>
    </div>
  </div>
