<div class="page-wrap">
  <%= render"shared/terminalnav" %>
  <div class="flex">
    <%= render "shared/sidebarbs" %>
    <div class="flex-column"style="width:100%; margin: 20px; ">
      <%# <%= render "shared/pagehead" %>
      <div style = "height:50px;width:100%" class="border-bottom mt-30">
        <h3>Project</h3>
      </div>
      <%# <%= render "projects/pagetabs" %>
      <div style="margin-top:10px">
        <ul class="nav nav-tabs" style="margin-bottom:20px">
          <li class="nav-item">
            <%=link_to user_projects_path(@user, @projects) do %>
              <button class="btn nav-link br5">
                <i class="bi bi-bounding-box mr10"></i>All Projects
              </button>
            <% end %>
          </li>
          <li class="nav-item">
            <%=link_to new_user_project_path(@user) do %>
              <button class="btn nav-link br5">
                <i class="bi bi-cloud-plus mr10"></i>New Project
              </button>
            <% end %>
          </li> <br>
        </ul>
      </div>
      <div class="ma-50">
        <%= render "projects/projectthumbnail" %>
      </div>
      <video style="display:none" autoplay muted src="<%= @project.project_path %>"></video>
    </div>
  </div>
</div>
