  <%= render"shared/terminalnav" %>
  <div class="terminal-container">
    <%= render "shared/sidebarbs" %>
    <div class="flex-column content-container">
      <%= render "users/pagehead" %>
      <%= render "users/pagetabs" %>
      <%= render "companies/partials/editform" %>

    </div>
  </div>
