
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>

<div class="admin_side_contact_tab">

  <div class="admin_side_contact_contents">

    <div class="admin_side_contact_header">
      <i class='fa fa-inbox' style='color: white'></i> INBOX
    </div>

    <div class="admin_side_contact_inner_contents">

      <% Contact.order(created_at: :desc).group_by{|c| c.created_at.to_date}.each do |date, contacts| %>
        <div class="contact_date-header">
          <i class='fa fa-calendar' style='color: rgb(41, 65, 85)'></i> <%= date.strftime("%A, %d-%m-%Y") %>
        </div>
        <% contacts.each do |contact| %>
          <div class="sidebar_contact <%= 'read' if contact.read %>" data-id="<%= contact.id %>" id="sidebar_contact_<%= contact.id %>" onClick="displayContact(<%= contact.id %>)">
            <p><i class='fa <%= contact.read ? "fa-check" : "fa-exclamation-circle" %>'></i> <i class='fa fa-user-circle'></i> From: <%= contact.first_name %> <%= contact.last_name %></p>
            <p><%=contact.created_at.strftime("%-I:%M %p") %></p>
          </div>
        <% end %>
      <% end %>

    </div>

  </div>

</div>
