<% @templates.each do |template| %>
  <div data-controller="template-select">
    <button data-action="template-select#select template-select#copy slideshow#next" data-template-select-target="button">
      <video src="<%= template.video_link %>" style="width:100px"></video><br>
       <br>
       <span data-template-select-target="value" value="<%= template.id %>"><%= template.id %></span>
      <%= template.title %> <br>
      <%= template.video_count %>
      <%# <a href="" class="d-none ms-2" data-disable-button-target="link">Reset</a> %>
    </button>
  </div>
<% end %>
