<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>

<footer class="navigation">

  <div class="footer_top">

    <%# contains all of elements of the top half of the footer %>
    <div class="container">

      <div class="footer_left">

        <%# Logo %>
        <a href="#" class="footer_logo">
          <%= image_tag "https://res.cloudinary.com/dth8lnhas/image/upload/v1675409517/Logos/1_tke2gy.png", height:70 %>
        </a>

        <%# Viddex Slogan (Header) - under logo %>
        <div class="footer_slogan">
          Closing Deals, One Video at a Time.
        </div>

      </div>
      <%# end of footer left %>


      <%# right side of top footer %>
      <nav class="footer_right">

        <%# 1st column of links %>
        <div class="footer_links_column">

          <div class="heading">
          Product
          </div>

          <ul class="links">

            <li>
              <a class="link" href="#">
                <i class='fa fa-camera'></i> Screen Recorder
              </a>
            </li>

            <li>
              <a class="link" href="#">
                <i class='fa fa-video-camera'></i> Video Management
              </a>
            </li>

            <li>
              <a class="link" href="#">
                <i class='fa-solid fa-layer-group'></i> See All Features &#10132;
              </a>
            </li>

            <li>
              <a class="link" href="<%= pricing_path %>">
                <i class='fa-solid fa-tags'></i> Pricing
              </a>
            </li>

          </ul>

        </div>

        <%# 2nd column of links %>
        <div class="footer_links_column">

          <div class="heading">
          Solutions
          </div>

          <ul class="links">

            <li>
              <a href="#" class="link">
                <i class='fa-solid fa-handshake'></i> Sales
              </a>
            </li>

            <li>
              <a href="#" class="link">
                <i class='fa-solid fa-chart-bar'></i> Marketing
              </a>
            </li>

            <li>
              <a href="#" class="link">
                <i class='fa-solid fa-comment'></i> Business Comms
              </a>
            </li>

          </ul>

        </div>

        <%# 3rd column of links %>
        <div class="footer_links_column">

          <div class="heading">
          About Viddex
          </div>

          <ul class="links">

            <li>
              <a href="<%= who_we_are_path %>" class="link">
                <i class='fa fa-users'></i> Who We Are
              </a>
            </li>

            <li>
              <a href="<%= what_we_do_path %>" class="link">
                <i class='fa fa-cogs'></i> What We Do
              </a>
            </li>

            <li>
              <a href="#" class="link">
                <i class='fa fa-check'></i> Why Choose Us
              </a>
            </li>

            <li>
              <a href="#" class="link">
              <i class='fa fa-briefcase'></i> Work With Us
              </a>
            </li>

            <li>
              <i class='fa fa-envelope'></i> <a href="<%= contactus_path %>" class="link">Contact Us</a>
            </li>

          </ul>

        </div>

        <%# 4th column of links %>
        <div class="footer_links_column">

          <div class="heading">
          Resources
          </div>

          <ul class="links">

            <li>
              <a href="#" class="link">
                Docs <i class='fa-solid fa-arrow-up-right-from-square'></i>
              </a>
            </li>

            <li>
              <a href="#" class="link">
                Video Tutorials <i class='fa-solid fa-arrow-up-right-from-square'></i>
              </a>
            </li>

            <li>
              <a href="#" class="link">
                FAQ's <i class='fa fa-question-circle-o'></i>
              </a>
            </li>

            <%#<li>
              <a href="#" class="link">
                Customer Stories
              </a>
            </li> %>

          </ul>

        </div>

      </nav>
      <%# end of footer right %>

    </div>
    <%# end of top container %>

  </div>
  <%# end of footer top %>

  <div class="footer_bottom">

    <%# contains all of the elements in bottom half of footer %>
    <div class="container">

      <hr class="footer_hr" />

      <div class="footer_bottom_row">

        <div class="footer_logos">

          <a class="footer_logo" href="#"><i class='fa fa-twitter'></i></a>
          <a class="footer_logo" href="#"><i class='fa fa-instagram'></i></a>
          <a class="footer_logo" href="#"><i class='fa fa-facebook-square'></i></a>
          <a class="footer_logo" href="#"><i class='fa fa-linkedin-square'></i></a>
          <a class="footer_logo" href="#"><i class='fa fa-youtube-play'></i></a>

        </div>

        <div class="footer_bottom_links">

          <ul class="links">

            <li>
              <a href="#" class="link" id="footer_left_link">
                Privacy Policy
              </a>
            </li>

            <li>
              <a href="#" class="link">
                Security
              </a>
            </li>

            <li>
              <a href="#" class="link">
                Legal Stuff
              </a>
            </li>

            <li>
              <a href="#" class="link">
                Accessibility
              </a>
            </li>

            <li>
              <a href="#" class="link">
                Sitemap
              </a>
            </li>

          </ul>

        </div>

        <div class="footer_copyright_text">
          © <%= Date.today.year %> Viddex Limited
        </div>

      </div>
      <%# end of bottom row divs %>

























    </div>
    <%# end of bottom container %>

  </div>
  <%# end of footer bottom %>

</footer>
<%# end of footer %>
