
<footer class="navigation">

  <div class="footer_top">

    <%# contains all of elements of the top half of the footer %>
    <div class="container">

      <div class="footer_left">

        <%# Logo %>
        <a href="#" class="footer_logo">
          <%= image_tag "https://res.cloudinary.com/dth8lnhas/image/upload/v1673349545/photo_two_10_at9pwc.png", height:70 %>
        </a>

        <%# Viddex Slogan (Header) - under logo %>
        <div class="footer_slogan">

        </div>

      </div>
      <%# end of footer left %>


      <%# right side of top footer %>
      <nav class="footer_right">

        <%# 1st column of links %>
        <div class="footer_links_column">

          <div class="heading">
          Product
          </div>

          <ul class="links">

            <li>
              <a class="link" href="#">
                Free Screen Recorder
              </a>
            </li>

            <li>
              <a class="link" href="#">
                Video Hosting
              </a>
            </li>

            <li>
              <a class="link" href="#">
                Video Analytics
              </a>
            </li>

            <li>
              <a class="link" href="#">
                See All Features &#10132;
              </a>
            </li>

            <li>
              <a class="link" href="#">
                Downloads
              </a>
            </li>

            <li>
              <a class="link" href="#">
                Product Updates
              </a>
            </li>

            <li>
              <a class="link" href="#">
                Integrations
              </a>
            </li>

            <li>
              <a class="link" href="#">
                Pricing
              </a>
            </li>

          </ul>

        </div>

        <%# 2nd column of links %>
        <div class="footer_links_column">

          <div class="heading">
          Solutions
          </div>

          <ul class="links">

            <li>
              <a href="#" class="link">
                Sales
              </a>
            </li>

            <li>
              <a href="#" class="link">
                Marketing
              </a>
            </li>

            <li>
              <a href="#" class="link">
                Corporate Comms
              </a>
            </li>

            <li>
              <a href="#" class="link">
                Enterprise
              </a>
            </li>

            <li>
              <a href="#" class="link">
                Financial Services
              </a>
            </li>

            <li>
              <a href="#" class="link">
                SaaS
              </a>
            </li>

            <li>
              <a href="#" class="link">
                See All Industries &#10132;
              </a>
            </li>

          </ul>

        </div>

        <%# 3rd column of links %>
        <div class="footer_links_column">

          <div class="heading">
          Company
          </div>

          <ul class="links">

            <li>
              <a href="#" class="link">
                About Us
              </a>
            </li>

            <li>
              <a href="#" class="link">
                Careers
              </a>
            </li>

            <li>
              <a href="#" class="link">
                Press
              </a>
            </li>

            <li>
              <a href="#" class="link">
                Media Kit
              </a>
            </li>

            <li>
              <a href="<%= contactus_path %>" class="link">Contact Us</a>
            </li>

          </ul>

        </div>

        <%# 4th column of links %>
        <div class="footer_links_column">

          <div class="heading">
          Resources
          </div>

          <ul class="links">

            <li>
              <a href="#" class="link">
                Knowledge Base <%= image_tag "https://res.cloudinary.com/dth8lnhas/image/upload/v1671054902/downloadicon_ycgojw.jpg", height:15 %>
              </a>
            </li>

            <li>
              <a href="#" class="link">
                Fast Forward
              </a>
            </li>

            <li>
              <a href="#" class="link">
                Sales Templates
              </a>
            </li>

            <li>
              <a href="#" class="link">
                Customer Stories
              </a>
            </li>

            <li>
              <a href="#" class="link">
                Partners Directory
              </a>
            </li>

            <li>
              <a href="#" class="link">
                Mic Test
              </a>
            </li>

            <li>
              <a href="#" class="link">
                Cam Test
              </a>
            </li>

            <li>
              <a href="#" class="link">
                Developers
              </a>
            </li>

            <li>
              <a href="#" class="link">
                Sales Feed
              </a>
            </li>

          </ul>

        </div>

      </nav>
      <%# end of footer right %>

    </div>
    <%# end of top container %>

  </div>
  <%# end of footer top %>

  <div class="footer_bottom">

    <%# contains all of the elements in bottom half of footer %>
    <div class="container">

      <hr class="footer_hr" />

      <div class="footer_bottom_row">

        <div class="footer_logos">

          <a href="#"><%= image_tag "https://res.cloudinary.com/dth8lnhas/image/upload/v1671706127/twitterlogo_dgfmcq.jpg", height:20 %></a>
          <a href="#"><%= image_tag "https://res.cloudinary.com/dth8lnhas/image/upload/v1671706115/facebooklogo_c2w6ok.jpg", height:20 %></a>
          <a href="#"><%= image_tag "https://res.cloudinary.com/dth8lnhas/image/upload/v1671706122/instalogo_dcppm9.jpg", height:20 %></a>
          <a href="#"><%= image_tag "https://res.cloudinary.com/dth8lnhas/image/upload/v1671706121/linkedinlogo_yemhvc.jpg", height:20 %></a>
          <a href="#"><%= image_tag "https://res.cloudinary.com/dth8lnhas/image/upload/v1671706129/youtubelogo_mblnph.jpg", height:20 %></a>

        </div>

        <div class="footer_bottom_links">

          <ul class="links">

            <li>
              <a href="#" class="link" id="footer_left_link">
                Privacy Policy
              </a>
            </li>

            <li>
              <a href="#" class="link">
                Security
              </a>
            </li>

            <li>
              <a href="#" class="link">
                Legal Stuff
              </a>
            </li>

            <li>
              <a href="#" class="link">
                Accessibility
              </a>
            </li>

            <li>
              <a href="#" class="link">
                Sitemap
              </a>
            </li>

          </ul>

        </div>

        <div class="footer_copyright_text">
          © <%= Date.today.year %> Viddex Limited
        </div>

      </div>
      <%# end of bottom row divs %>

























    </div>
    <%# end of bottom container %>

  </div>
  <%# end of footer bottom %>

</footer>
<%# end of footer %>
