<div class="home_seventh_bottomtab">

  <%# Contains left and right divs which make up the top half of the bottom tab %>
  <div>

    <%# Viddex Logo + Slogan %>
    <div class="home_seventh_bottomtableft">

      <%# Logo %>
      <a href="#" class="home_seventh_bottomtab_logo">
        <%= image_tag "viddexlogo.png", height:60 %>
      </a>

      <br />

      <%# Viddex Slogan (Header) - under logo %>
      <div class="home_seventh_bottomtab_slogan">
        The Video Platform That <br />
        Keeps You Connected
      </div>

    </div>
    <%# end of bottomtableft class %>

    <%# List of links to different pages %>
    <div class="home_seventh_bottomtabright">

      <%# Holds all of the links under headings %>
      <table class="home_seventh_bottomlinks">

        <%# Headings %>
        <tr class="home_seventh_bottomtab_headings">
          <td>Product</td>
          <td>Solutions</td>
          <td>Company</td>
          <td>Resources</td>
        </tr>

        <%# First Row %>
        <tr>
          <td class="home_seventh_linkcells">
            <a href="#" class="home_seventh_linkwords">Free Screen Recorder</a>
          </td>

          <td class="home_seventh_linkcells">
            <a href="#" class="home_seventh_linkwords">Sales</a>
          </td>

          <td class="home_seventh_linkcells">
            <a href="#" class="home_seventh_linkwords">About Us</a>
          </td>

          <td class="home_seventh_linkcells">
            <a href="#" class="home_seventh_linkwords">Knowledge Base <%= image_tag "downloadicon.jpg", height:15 %></a>
          </td>
        </tr>

        <%# Second Row %>
        <tr>
          <td class="home_seventh_linkcells">
            <a href="#" class="home_seventh_linkwords">Video Hosting</a>
          </td>

          <td class="home_seventh_linkcells">
            <a href="#" class="home_seventh_linkwords">Marketing</a>
          </td>

          <td class="home_seventh_linkcells">
            <a href="#" class="home_seventh_linkwords">Careers</a>
          </td>

          <td class="home_seventh_linkcells">
            <a href="#" class="home_seventh_linkwords">Fast Forward</a>
          </td>
        </tr>

        <%# Third Row %>
        <tr>
          <td class="home_seventh_linkcells">
            <a href="#" class="home_seventh_linkwords">Video Analytics</a>
          </td>

          <td class="home_seventh_linkcells">
            <a href="#" class="home_seventh_linkwords">Corporate Comms</a>
          </td>

          <td class="home_seventh_linkcells">
            <a href="#" class="home_seventh_linkwords">Press</a>
          </td>

          <td class="home_seventh_linkcells">
            <a href="#" class="home_seventh_linkwords">Sales Templates</a>
          </td>
        </tr>

        <%# Fourth Row %>
        <tr>
          <td class="home_seventh_linkcells">
            <a href="#" class="home_seventh_linkwords">See All Features &#10132;</a>
          </td>

          <td class="home_seventh_linkcells">
            <a href="#" class="home_seventh_linkwords">Enterprise</a>
          </td>

          <td class="home_seventh_linkcells">
            <a href="#" class="home_seventh_linkwords">Media Kit</a>
          </td>

          <td class="home_seventh_linkcells">
            <a href="#" class="home_seventh_linkwords">Customer Stories</a>
          </td>
        </tr>

        <%# Fifth Row %>
        <tr>
          <td class="home_seventh_linkcells">
            <a href="#" class="home_seventh_linkwords">Downloads</a>
          </td>

          <td class="home_seventh_linkcells">
            <a href="#" class="home_seventh_linkwords">Financial Services</a>
          </td>

          <td class="home_seventh_linkcells">
            <a href="#" class="home_seventh_linkwords">Contact Us</a>
          </td>

          <td class="home_seventh_linkcells">
            <a href="#" class="home_seventh_linkwords">Partners Directory</a>
          </td>
        </tr>

        <%# Sixth Row %>
        <tr>
          <td class="home_seventh_linkcells">
            <a href="#" class="home_seventh_linkwords">Product Updates</a>
          </td>

          <td class="home_seventh_linkcells">
            <a href="#" class="home_seventh_linkwords">SaaS</a>
          </td>

          <td class="home_seventh_linkcells">
            <a href="#" class="home_seventh_linkwords"></a>
          </td>

          <td class="home_seventh_linkcells">
            <a href="#" class="home_seventh_linkwords">Mic Test</a>
          </td>
        </tr>

        <%# Seventh Row %>
        <tr>
          <td class="home_seventh_linkcells">
            <a href="#" class="home_seventh_linkwords">Intergrations</a>
          </td>

          <td class="home_seventh_linkcells">
            <a href="#" class="home_seventh_linkwords">See All Industries &#10132;</a>
          </td>

          <td class="home_seventh_linkcells">
            <a href="#" class="home_seventh_linkwords"></a>
          </td>

          <td class="home_seventh_linkcells">
            <a href="#" class="home_seventh_linkwords">Cam Test</a>
          </td>
        </tr>

        <%# Eighth Row %>
        <tr>
          <td class="home_seventh_linkcells">
            <a href="#" class="home_seventh_linkwords">Pricing</a>
          </td>

          <td class="home_seventh_linkcells">
            <a href="#" class="home_seventh_linkwords"></a>
          </td>

          <td class="home_seventh_linkcells">
            <a href="#" class="home_seventh_linkwords"></a>
          </td>

          <td class="home_seventh_linkcells">
            <a href="#" class="home_seventh_linkwords">Developers</a>
          </td>
        </tr>

        <%# Ninth Row %>
        <tr>
          <td class="home_seventh_linkcells">
            <a href="#" class="home_seventh_linkwords"></a>
          </td>

          <td class="home_seventh_linkcells">
            <a href="#" class="home_seventh_linkwords"></a>
          </td>

          <td class="home_seventh_linkcells">
            <a href="#" class="home_seventh_linkwords"></a>
          </td>

          <td class="home_seventh_linkcells">
            <a href="#" class="home_seventh_linkwords">Sales Feed</a>
          </td>
        </tr>

      </table>
      <%# End of table %>

    </div>
  <%# end of bottomlinks class %>

  </div>
  <%# end of bottomtabright class %>

  <%# Div is bottom zone of tab %>
  <div class="home_seventh_bottomfloor">

    <%# Div holds logos, table and copyright sentence %>
    <div class="home_seventh_floorcomponents">

      <%# Logos %>
      <div class="home_seventh_floorlogos" align="left">
        <a href="#"><%= image_tag "twitterlogo.jpg", height:15 %></a>
        <a href="#"><%= image_tag "facebooklogo.jpg", height:15 %></a>
        <a href="#"><%= image_tag "instalogo.jpg", height:15 %></a>
        <a href="#"><%= image_tag "linkedinlogo.jpg", height:15 %></a>
        <a href="#"><%= image_tag "youtubelogo.jpg", height:15 %></a>
      </div>
      <%# end of floorlogos class %>

      <%# Copyright sentence %>
      <div class="home_seventh_floorright" align="right">
        Copyright © 2022 Buildscale, Inc d/b/a Viddex
      </div>
      <%# end of floorright class %>

      <%# 1 row table in centre of div %>
      <div class="home_seventh_tablediv">

        <table>

          <tr>
            <td class="home_seventh_floorlinks_not_right">
              <a href="#" class="home_seventh_linkwords">Privacy Policy</a>
            </td>

            <td class="home_seventh_floorlinks_not_right">
              <a href="#" class="home_seventh_linkwords">Security</a>
            </td>

            <td class="home_seventh_floorlinks_not_right">
              <a href="#" class="home_seventh_linkwords">Legal Stuff</a>
            </td>

            <td class="home_seventh_floorlinks_not_right">
              <a href="#" class="home_seventh_linkwords">Accessibility</a>
            </td>

            <td class="home_seventh_floorlinks">
              <a href="#" class="home_seventh_linkwords">Sitemap</a>
            </td>
          </tr>

        </table>

      </div>
      <%# end of tablediv class %>

    </div>
    <%# end of floorcomponents class %>

  </div>
  <%# end of bottomfloor class %>

</div>
<%# end of bottomtab class %>
