<!DOCTYPE html>
<html>
  <head>
    <title>ViddexVolTwo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "old_application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Permanent+Marker&display=swap');
    </style>
  </head>

  <body>
      <%# below was advised from the devise lecture, however not certain if it is required %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= render "shared/flashes" %>

    <%= yield %>
  </body>
</html>
