<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag "branding/favicon.png", rel: "icon", type: "image/png" %>
    <%= yield :title %>
    <title>Viddex | Automated video tool for leading sales teams</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "old_application", "data-turbo-track": "reload"%>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Gloria+Hallelujah&family=Indie+Flower&family=Inspiration&family=Kalam:wght@300&family=Nanum+Brush+Script&family=Nothing+You+Could+Do&family=Permanent+Marker&family=Reenie+Beanie&family=Rock+Salt&family=Shadows+Into+Light&display=swap');
    </style>
        <!-- Bootstrap CSS -->
    <%# <link rel="stylesheet" href="https://droitthemes.com/html/saasland/css/bootstrap.min.css"> %>

    <!--icon font css-->
    <%# <link rel="stylesheet" href="https://droitthemes.com/html/saasland/vendors/themify-icon/themify-icons.css"> - %>
    <%# <link rel="stylesheet" href="https://droitthemes.com/html/saasland/vendors/font-awesome/css/all.css"> %>
    <%# <link rel="stylesheet" href="https://droitthemes.com/html/saasland/vendors/flaticon/flaticon.css"> - %>
    <%# <link rel="stylesheet" href="https://droitthemes.com/html/saasland/vendors/animation/animate.css"> - %>
    <%# <link rel="stylesheet" href="https://droitthemes.com/html/saasland/vendors/owl-carousel/assets/owl.carousel.min.css"> - %>
    <%# <link rel="stylesheet" href="https://droitthemes.com/html/saasland/vendors/animation/animate.css"> %>
    <%# <link rel="stylesheet" href="https://droitthemes.com/html/saasland/vendors/magnify-pop/magnific-popup.css"> - %>
    <%# <link rel="stylesheet" href="https://droitthemes.com/html/saasland/vendors/elagent/style.css"> %>
    <%# <link rel="stylesheet" href="https://droitthemes.com/html/saasland/vendors/scroll/jquery.mCustomScrollbar.min.css"> - %>
    <%# <link rel="stylesheet" href="https://droitthemes.com/html/saasland/css/style.css"> - %>
    <%# <link rel="stylesheet" href="https://droitthemes.com/html/saasland/css/responsive.css"> %>
    <%# <link rel="stylesheet" href="css/bootstrap.min.css"> %>
    <!--icon font css-->
  </head>

  <body>

    <%= yield %>
      <%# <%= render "shared/flashes" %>

  </body>
</html>
